<link rel="stylesheet" type="text/css" href="css/explorer.css">

<div id="explorer_app">
    <div class="abs" id="wrapper">
        <div class="abs" id="desktop">
            <a class="abs icon" style="left:20px;top:20px;" href="#icon_dock_computer">
                <img src="css/images/icons/icon_32_computer.png" />My Computer
            </a>
            <a class="abs icon" style="left:20px;top:100px;" href="#icon_dock_drive">
                <img src="css/images/icons/icon_32_drive.png" />Hard Drive
            </a>
            <a class="abs icon" style="left:20px;top:180px;" href="#icon_dock_disc">
                <img src="css/images/icons/icon_32_disc.png" />Audio CD
            </a>
            <a class="abs icon" style="left:20px;top:260px;" href="#icon_dock_network">
                <img src="css/images/icons/icon_32_network.png" />Network
            </a>

            <div id="window_computer" class="abs window">
                <div class="abs window_inner">
                    <div class="window_top">
                        <span class="float_left">
                            <img src="css/images/icons/icon_16_computer.png" />Computer
                        </span>
                        <span class="float_right">
                            <a href="#" class="window_min"></a>
                            <a href="#" class="window_resize"></a>
                            <a href="#icon_dock_computer" class="window_close"></a>
                        </span>
                    </div>
                    <div class="abs window_content">
                        <div class="window_aside">
                            Navigation pane
                        </div>
                        <div class="window_main">
                            <table class="data">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date Modified</th>
                                        <th>Date Created</th>
                                        <th>Size</th>
                                        <th>Kind</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Hard Drive</td>
                                        <td>Today</td>
                                        <td>&mdash;</td>
                                        <td>200 GB</td>
                                        <td>Volume</td>
                                    </tr>
                                    <tr>
                                        <td>Audio CD</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>2.92 GB</td>
                                        <td>Media</td>
                                    </tr>
                                    <tr>
                                        <td>Network</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>LAN</td>
                                    </tr>
                                    <tr>
                                        <td>Shared Project Files</td>
                                        <td>Yesterday</td>
                                        <td>12/29/08</td>
                                        <td>524 MB</td>
                                        <td>Folder</td>
                                    </tr>
                                    <tr>
                                        <td>Documents</td>
                                        <td>Yesterday</td>
                                        <td>12/29/08</td>
                                        <td>524 MB</td>
                                        <td>Folder</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="abs window_bottom">
                        Build: TK421
                    </div>
                </div>
                <span class="abs ui-resizable-handle ui-resizable-se"></span>
            </div>

            <div id="window_drive" class="abs window">
                <div class="abs window_inner">
                    <div class="window_top">
                        <span class="float_left">
                            <img src="css/images/icons/icon_16_drive.png" />
                            Hard Drive
                        </span>
                        <span class="float_right">
                            <a href="#" class="window_min"></a>
                            <a href="#" class="window_resize"></a>
                            <a href="#icon_dock_drive" class="window_close"></a>
                        </span>
                    </div>
                    <div class="abs window_content">
                        <div class="window_aside">
                            Storage in use: 119.1 GB
                        </div>
                        <div class="window_main">
                            <table class="data">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date Modified</th>
                                        <th>Date Created</th>
                                        <th>Size</th>
                                        <th>Kind</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>.DS_Store</td>
                                        <td>Yesterday</td>
                                        <td>&mdash;</td>
                                        <td>6 KB</td>
                                        <td>Hidden</td>
                                    </tr>
                                    <tr>
                                        <td>Default User</td>
                                        <td>Today</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>Folder</td>
                                    </tr>
                                    <tr>
                                        <td>Applications</td>
                                        <td>Yesterday</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>Folder</td>
                                    </tr>
                                    <tr>
                                        <td>Developer</td>
                                        <td>12/29/08</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>Folder</td>
                                    </tr>
                                    <tr>
                                        <td>Library</td>
                                        <td>09/11/09</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>Folder</td>
                                    </tr>
                                    <tr>
                                        <td>System</td>
                                        <td>Yesterday</td>
                                        <td>&mdash;</td>
                                        <td>&mdash;</td>
                                        <td>Folder</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="abs window_bottom">
                        Free: 80.9 GB
                    </div>
                </div>
                <span class="abs ui-resizable-handle ui-resizable-se"></span>
            </div>
            <div id="window_disc" class="abs window">
                <div class="abs window_inner">
                    <div class="window_top">
                        <span class="float_left">
                            <img src="css/images/icons/icon_16_disc.png" />
                            Audio CD - Title of Album
                        </span>
                        <span class="float_right">
                            <a href="#" class="window_min"></a>
                            <a href="#" class="window_resize"></a>
                            <a href="#icon_dock_disc" class="window_close"></a>
                        </span>
                    </div>
                    <div class="abs window_content">
                        <div class="window_aside align_center">
                            <img src="css/images/misc/album_cover.jpg" />
                            <br />
                            <em>Title of Album</em>
                        </div>
                        <div class="window_main">
                            <table class="data">
                                <thead>
                                    <tr>
                                        <th class="align_center shrink">Track</th>
                                        <th class="align_center">Song Name</th>
                                        <th class="align_center">Length</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align_center">01</td>
                                        <td class="align_center">Track One</td>
                                        <td class="align_center">3:50</td>
                                    </tr>
                                    <tr>
                                        <td class="align_center">02</td>
                                        <td class="align_center">Track Two</td>
                                        <td class="align_center">3:50</td>
                                    </tr>
                                    <tr>
                                        <td class="align_center">03</td>
                                        <td class="align_center">Track Three</td>
                                        <td class="align_center">4:02</td>
                                    </tr>
                                    <tr>
                                        <td class="align_center">04</td>
                                        <td class="align_center">Track Four</td>
                                        <td class="align_center">3:47</td>
                                    </tr>
                                    <tr>
                                        <td class="align_center">05</td>
                                        <td class="align_center">Track Five</td>
                                        <td class="align_center">4:38</td>
                                    </tr>
                                    <tr>
                                        <td class="align_center">06</td>
                                        <td class="align_center">Track Six</td>
                                        <td class="align_center">3:16</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="abs window_bottom">
                        Genre: Rock/Rap
                    </div>
                </div>
                <span class="abs ui-resizable-handle ui-resizable-se"></span>
            </div>
            <div id="window_network" class="abs window">
                <div class="abs window_inner">
                    <div class="window_top">
                        <span class="float_left">
                            <img src="css/images/icons/icon_16_network.png" />
                            Network
                        </span>
                        <span class="float_right">
                            <a href="#" class="window_min"></a>
                            <a href="#" class="window_resize"></a>
                            <a href="#icon_dock_network" class="window_close"></a>
                        </span>
                    </div>
                    <div class="abs window_content">
                        <div class="window_aside">
                            Local Network Resources
                        </div>
                        <div class="window_main">
                            <table class="data">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="shrink">Operating System</th>
                                        <th class="shrink">Version</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Urban Terror - <em>Game Server</em></td>
                                        <td>Linux</td>
                                        <td>Ubuntu</td>
                                    </tr>
                                    <tr>
                                        <td>Shared Project Files</td>
                                        <td>Linux</td>
                                        <td>Red Hat</td>
                                    </tr>
                                    <tr>
                                        <td>Remote Desktop VPN</td>
                                        <td>Windows</td>
                                        <td>XP</td>
                                    </tr>
                                    <tr>
                                        <td>Michael Scott</td>
                                        <td>Mac OS</td>
                                        <td>10.5</td>
                                    </tr>
                                    <tr>
                                        <td>Dwight Schrute</td>
                                        <td>Mac OS</td>
                                        <td>10.6</td>
                                    </tr>
                                    <tr>
                                        <td>Jim Halpert</td>
                                        <td>Mac OS</td>
                                        <td>10.6</td>
                                    </tr>
                                    <tr>
                                        <td>Pam Beesly</td>
                                        <td>Mac OS</td>
                                        <td>10.5</td>
                                    </tr>
                                    <tr>
                                        <td>Ryan Howard</td>
                                        <td>Mac OS</td>
                                        <td>10.5</td>
                                    </tr>
                                    <tr>
                                        <td>Jan Levinson</td>
                                        <td>Mac OS</td>
                                        <td>10.5</td>
                                    </tr>
                                    <tr>
                                        <td>Roy Anderson</td>
                                        <td>Windows</td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <td>Stanley Hudson</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Kevin Malone</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Angela Martin</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Oscar Martinez</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Phyllis Lapin</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Creed Bratton</td>
                                        <td>Windows</td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <td>Meredith Palmer</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Toby Flenderson</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Darryl Philbin</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Kelly Kapoor</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                    <tr>
                                        <td>Andy Bernard</td>
                                        <td>Windows</td>
                                        <td>Vista</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="abs window_bottom">
                        LAN: Corporate Intranet
                    </div>
                </div>
                <span class="abs ui-resizable-handle ui-resizable-se"></span>
            </div>
        </div>

        <div class="abs" id="bar_top">
            <ul>
                <li>
                    <a class="menu_trigger">Appearance</a>
                    <ul class="menu">
                        <li>
                            <a>Wallpaper</a>
                        </li>
                        <li>
                            <a>Icons</a>
                        </li>
                        <li>
                            <a>Time</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu_trigger">Options</a>
                    <ul class="menu">
                        <li>
                            <a>Settings</a>
                        </li>
                        <li>
                            <a>Control Panel</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu_trigger">Help</a>
                </li>
            </ul>
            <span class="float_right" id="clock"></span>
        </div>

        <div class="abs" id="bar_bottom">
            <a class="float_left goto_start">Start</a>
            <ul id="dock">
                <li id="icon_dock_computer">
                    <a href="#window_computer">
                        <img src="css/images/icons/icon_22_computer.png" />
                        Computer
                    </a>
                </li>
                <li id="icon_dock_drive">
                    <a href="#window_drive">
                        <img src="css/images/icons/icon_22_drive.png" />
                        Hard Drive
                    </a>
                </li>
                <li id="icon_dock_disc">
                    <a href="#window_disc">
                        <img src="css/images/icons/icon_22_disc.png" />
                        Audio CD
                    </a>
                </li>
                <li id="icon_dock_network">
                    <a href="#window_network">
                        <img src="css/images/icons/icon_22_network.png" />
                        Network
                    </a>
                </li>
            </ul>
            <a class="float_right" id="show_desktop" title="Show Desktop">Desktop</a>
        </div>
    </div>
</div>

<script src="js/apps/explorer.js"></script>