<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SecV</title> 
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    
    <link rel="stylesheet" type="text/css" href="css/intro.css">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/notify.min.js"></script>
    
    <script type="text/javascript" src="SecV/libs/phaser.js"></script>
    <script type="text/javascript" src="SecV/js/Boot.js"></script>
    <script type="text/javascript" src="SecV/js/Preload.js"></script>
    <script type="text/javascript" src="SecV/js/MainMenu.js"></script>
    <script type="text/javascript" src="SecV/js/Game.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <span id="game_title" data-toggle="tooltip" title="Welcome to the security game.">SecV</span>
                    <% if (user != null) { %>
                        <span id="tasks_help" style="display:none;" data-toggle="tooltip" title="Hint"><i class="fa fa-info-circle"></i></span>
                        <div id="score_board">
                            <span id="score_icon" data-toggle="tooltip" title="Current Score"><i class="fa fa-trophy"></i></span>
                            <span id="score_tag"></span>
                            <span id="score_value">0</span>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <% if (user != null) { %>
                    <ul class="nav navbar-nav">
                        <li><a style="font-weight: bold;" data-toggle="tooltip" title="Go to game." id="game">Game</a></li>
                        <li><a style="font-weight: bold;" data-toggle="tooltip" title="Use the computer." id="computer">Computer</a></li>
                        <li><a style="font-weight: bold;" data-toggle="tooltip" title="Read about SecV." id="about">About</a></li>
                    </ul>
                <% } %>
                <ul class="nav navbar-nav navbar-right">
                    <% if (user == null) { %>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" >
                                <b>Login</b>
                                <span class="caret"></span>
                            </a>
                            <div id="login_intro" class="dropdown-menu">
                                    <% if (message != null) { %>
                                        <!-- Fix the error message position-->
                                        <div class="alert-danger" style="text-align: center;"><%= message %></div>
                                    <% } %>
                                <div class="col-md-12">Login via
                                    <div class="social-buttons">
                                        <a class="btn btn-fb oauth_buttons"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a class="btn btn-tw oauth_buttons"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div>
                                    or
                                    <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                             <input type="email" class="form-control" name="email" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group">
                                             <input type="password" class="form-control" name="password" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forgot password?</a></div>
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-primary btn-block form-control">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                             <label><input type="checkbox"> Keep me logged in</label>
                                        </div>
                                    </form>
                                 </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <b>Register</b> 
                            </a>
                            <div id="signup_intro" class="dropdown-menu">
                                <div class="col-md-12">Sign up
                                    <form class="form" role="form" method="post" action="/signup" accept-charset="UTF-8" id="signup-nav">
                                        <div class="form-group">
                                             <input type="email" class="form-control" name="email" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group">
                                             <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-primary btn-block form-control">Sign up</button>
                                        </div>
                                    </form>
                                 </div>
                            </div>
                        </li>
                    <% } 
                    else { %>
                        <li><a href="/logout"><b style="cursor: pointer;">Logout</b> </a></li>
                        <li style="margin: 15px; color:#fff;"><b>email</b>: <%= user.local.email %><br></li>
                    <% } %>
                </ul>        
            </div>
        </div>
    </nav>
    <script>
        $('#login_intro').click(function(event){
             event.stopPropagation();
        });
        
        $('#signup_intro').click(function(event){
             event.stopPropagation();
        });

        $('#game').click(function(){
            $("#gamec").show();
            $("#computerc").hide();
            $("#aboutc").hide();
        });

        $('#computer').click(function(){
            $("#gamec").hide();
            $("#computerc").show();
            $("#aboutc").hide();
        });

        $('#about').click(function(){
            $("#gamec").hide();
            $("#computerc").hide();
            $("#aboutc").show();
        });
        
        $('.oauth_buttons').click(function(){
            swal("Info", "Facebook and Google authorization haven't been integrated yet. You'll need to register first in order to login. Apologies for the incovenience caused.\n\n P.S. In case you are worried about spams, we assure you, you won't be bothered by them at all.", "info") 
        });
    </script>