<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SecV</title> 
    
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <link rel="stylesheet" type="text/css" href="metro/css/bootmetro.css">
    <link rel="stylesheet" type="text/css" href="metro/css/bootmetro-responsive.css">
    <link rel="stylesheet" type="text/css" href="metro/css/bootmetro-icons.css">
    <link rel="stylesheet" type="text/css" href="metro/css/bootmetro-ui-light.css">
    <link rel="stylesheet" type="text/css" href="metro/css/demo.css">
    
    <link rel="stylesheet" type="text/css" href="css/explorer.css">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    
    <script type="text/javascript" src="js/prologue.js"></script>
    
    <script type="text/javascript" src="SecV/libs/phaser.js"></script>
    <script type="text/javascript" src="SecV/js/Boot.js"></script>
    <script type="text/javascript" src="SecV/js/Preload.js"></script>
    <script type="text/javascript" src="SecV/js/MainMenu.js"></script>
    <script type="text/javascript" src="SecV/js/Game.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container"> <!-- try using container-fluid too>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SecV</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <% if (user != null) { %>
                    <ul class="nav navbar-nav">
                        <li><a id="Game">Game</a></li>
                        <li><a id="Computer">Computer</a></li>
                        <li><a id="About">About</a></li>
                    </ul>
                <% } %>
                <ul class="nav navbar-nav navbar-right">
                    <% if (user == null) { %>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <b>Login</b> 
                                <span class="caret"></span>
                            </a>
                            <div id="login-dd" class="row dropdown-menu">
                                    <% if (message != null) { %>
                                        <div class="alert-danger"><%= message %></div>
                                    <% } %>
                                <div class="col-md-12">Login via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div>
                                    or
                                    <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                             <input type="email" class="form-control" name="email" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group">
                                             <input type="password" class="form-control" name="password" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-primary btn-block form-control">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                             <label>
                                             <input type="checkbox"> Keep me logged in
                                             </label>
                                        </div>
                                    </form>
                                 </div>
                                 <div class="bottom text-center">
                                    New here ? <a id="login-dp"><b>Join Us</b></a>
                                 </div>
                            </div>

                            <div id="signup-dd" class="row dropdown-menu" style="display:none;">
                                    <% if (message != null) { %>
                                        <div class="alert-danger"><%= message %></div>
                                    <% } %>
                                <div class="col-md-12">Sign up
                                    <form class="form" role="form" method="post" action="/signup" accept-charset="UTF-8" id="signup-nav">
                                        <div class="form-group">
                                             <input type="email" class="form-control" name="email" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group">
                                             <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-primary btn-block form-control">Sign up</button>
                                        </div>
                                    </form>
                                 </div>
                                 <div class="bottom text-center">
                                     <a id="signup-dp"><b>Go Back</b></a>
                                 </div>
                            </div>
                        </li>
                    <% } 
                    else { %>
                        <li><a href="/logout"><b>Logout</b> </a></li>
                        <li style="margin-top:15px; color:#fff;"><b>email</b>: <%= user.local.email %><br></li>
                    <% } %>
                </ul>        
            </div>
        </div>
    </nav>
    <script>
        $('#login-dp').click(function () {
            $("#login-dd").css("display", "none");
            $("#signup-dd").css("display", "block");
        });

        $('#signup-dp').click(function () {
            $("#login-dd").css("display", "block");
            $("#signup-dd").css("display", "none");
        });

        $('#Game').click(function () {
            $("#Gamec").css("display", "block");
            $("#Computerc").css("display", "none");
            $("#Aboutc").css("display", "none");
        });

        $('#Computer').click(function () {
            $("#Gamec").css("display", "none");
            $("#Computerc").css("display", "block");
            $("#Aboutc").css("display", "none");
        });

        $('#About').click(function () {
            $("#Gamec").css("display", "none");
            $("#Computerc").css("display", "none");
            $("#Aboutc").css("display", "block");
        });
    </script>