        <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
    
                        <a href="#" class="navbar-brand tablinks" onclick="openTab(event, 'SecV')">SecV</a>
    
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#" class="tablinks" onclick="openTab(event, 'Game')">Game</a>
                            </li>
                            <li>
                                <a href="#" class="tablinks" onclick="openTab(event, 'Computer')">Computer</a>
                            </li>
                            <li>
                                <a href="#" class="tablinks" onclick="openTab(event, 'About')">About</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>

        <div id="SecV" class="tabcontent">
          <h3>SecV</h3>
          <p>Welcome!!!</p>
        </div>

        <div id="Game" class="tabcontent">
         <!--<script src="../../SecV/js/main.js"></script>-->
            <div id="base" style="margin: auto; height: 720px; width: 1280px; border:1px solid #000000;">
                <script src="../../SecV/js/main.js"></script>
            </div>
        </div>

        <div id="Computer" class="tabcontent">
             <div id="comp"> 
                <script>
                    $('#comp').load('includes/computer.html');
                </script>
            </div>
        </div>

        <div id="About" class="tabcontent">
          <h3>About</h3>
          <p>About the game.</p>
        </div>

        <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        </script>

        <!-- Page Content 
        <div class="container" >
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>SecV - The Game</h1>
                    <p>WELCOME!!!</p>
                </div>
            </div>
        </div>-->

    </body>

</html>