<link rel="stylesheet" type="text/css" href="css/nav/timeline.css"/>

<!-- In the circles, score will arrive. -->

<div id="timeline_section">
    <div class="start_navbar">
        <div class="pull-left">
            <a class="win-command pull-right comp_nav">
                <span class="win-commandicon win-commandring icon-list-2"></span>
            </a>
            <br>
            <a class="win-command pull-left goto_start">
                <span class="win-commandicon win-commandring icon-arrow-left-12"></span>
            </a>
        </div>
        <div class="pull-right start_name">
            <h2>Timeline <i class="fa fa-clock-o section_hint" hint_message="This is the progress section where you can view your game history along with timestamp and detailed information about the security issues you encountered in the corresponding tasks."></i></h2>
        </div>
    </div>
    <div id="ss-container" class="ss-container">
        <div class="ss-row" id="prologue0">
            <div class="ss-left">
                <h2>Prologue</h2>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h3>
                    <span>October 28, 2011</span>
                    <a>Task 0.1</a>
                </h3>
            </div>
            <div class="ss-right">
                <a class="ss-circle ss-circle-1"></a>
            </div>
        </div>
        <div class="ss-row" id="chapter1">
            <div class="ss-left">
                <h2>Chapter</h2>
            </div>
            <div class="ss-right">
                <h2>1</h2>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <a class="ss-circle ss-circle-5"></a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>November 9, 2011</span>
                    <a>Task 1.1</a>
                </h3>
            </div>
        </div>
        <div class="ss-row" id="chapter2">
            <div class="ss-left">
                <h2>Chapter</h2>
            </div>
            <div class="ss-right">
                <h2>2</h2>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h3>
                    <span>September 30, 2011</span>
                    <a>Task 2.1</a>
                </h3>
            </div>
            <div class="ss-right">
                <a class="ss-circle ss-circle-15"></a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <a class="ss-circle ss-circle-16"></a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 27, 2011</span>
                    <a>Task 2.2</a>
                </h3>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h3>
                    <span>September 30, 2011</span>
                    <a>Task 2.3</a>
                </h3>
            </div>
            <div class="ss-right">
                <a class="ss-circle ss-circle-15"></a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <a class="ss-circle ss-circle-16"></a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 27, 2011</span>
                    <a>Task 2.4</a>
                </h3>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h3>
                    <span>September 30, 2011</span>
                    <a>Task 2.5</a>
                </h3>
            </div>
            <div class="ss-right">
                <a class="ss-circle ss-circle-15"></a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <a class="ss-circle ss-circle-16"></a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 27, 2011</span>
                    <a>Task 2.6</a>
                </h3>
            </div>
        </div>
        <div class="ss-row" id="chapter3">
            <div class="ss-left">
                <h2>Chapter</h2>
            </div>
            <div class="ss-right">
                <h2>3</h2>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h3>
                    <span>August 30, 2011</span>
                    <a>Task 3.1</a>
                </h3>
            </div>
            <div class="ss-right">
                <a class="ss-circle ss-circle-20"></a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <a class="ss-circle ss-circle-16"></a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 27, 2011</span>
                    <a>Task 3.2</a>
                </h3>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h3>
                    <span>September 30, 2011</span>
                    <a>Task 3.3</a>
                </h3>
            </div>
            <div class="ss-right">
                <a class="ss-circle ss-circle-15"></a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <a class="ss-circle ss-circle-16"></a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 27, 2011</span>
                    <a>Task 3.4</a>
                </h3>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h3>
                    <span>September 30, 2011</span>
                    <a>Task 3.5</a>
                </h3>
            </div>
            <div class="ss-right">
                <a class="ss-circle ss-circle-15"></a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <a class="ss-circle ss-circle-16"></a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 27, 2011</span>
                    <a>Task 3.6</a>
                </h3>
            </div>
        </div>
    </div>
</div>

<script>
    var $rows = $('#ss-container > div.ss-row');
    $rows.find('a.ss-circle').addClass('ss-circle-deco');
    
    $('.fa').click(function(){
        if($(this).hasClass('section_hint')){
            swal("Info", $(this).attr('hint_message'), "info");
        }
    });
</script>