<div id="about_game">
    <h1>About SecV</h1>
    <br>
    <div style="width: 100%; height: 80%; overflow-y: auto;">
        <p>Disclaimer: Due to the lack of graphics, this game is currently far far away from what it's actually intended to be. In fact it's just a small demo of the real demo version, if you will. In the future, the actual top-down gameplay will convey the storyline and the familiarity with the in-game computer's layout and you'll get hold of the flow in a much smoother and non-absurd manner. But right now, there are very few tasks integrated and there will be many abrupt instructions to make you comfortable with the layout. So here's the deal. Bear with me and I promise you it'll be all worth it. Shall we begin then? Right. Imagine this. You are a professional hacker. I know. So cool, yeah?</p>
        <br>
        <p>So, Antonio(Age-52) is a mob boss/business tycoon. His bank account has been hacked on account of his old notorious crimes that drove someone to seek vengeance. You must have watched enough movies and TV shows. So, I am guessing, so far we are good. Now, the boss being the boss of course plans on taking a revenege. And thus begins the Tom and Jerry chase. So as a first step, in oder to track the hacker, he calls you. You arrive at his home and get introduced to his family members.</p>
        <br>
        <p>
        Antonio's wife is Maria(Age-40). They have 3 children. Flora(Age-26), Tony(Age-19) and Ricky(Age-11). Also, there Antonio's father, Marcus(Age-77) and Flora's boyfriend, Sam(Age-29). Why is this important, you ask? They aren't. At least not right now. So, you can easily not care about any of it for now. They'll be integral part of the story later though and hence all the tasks are classified according to them. This gives us a way to focus on all age-groups of computer users and thus bring into limelight, as many security issues as possible.
        </p>
        <br>
        <p>Although, all these people regularly use computer, they aren't much aware of security. So, in the story mode, they'll be carrying on with their lives during which you'll be teaching them about proper security measures. You'll need to assume all this right now. The tasks through which they'll be learning can be accessed from the Tasks section as explained below. For now, you can play those tasks only. Once in a while your own tasks will arrive which will progress the game and the story further. So, yeah you'll be playing a total of 7 characters apart from yourself.
        </p>
        <br>
        <p>We are still working on the story. So, in case you found it lame, overlook it and move to the 'Tasks' section. You can find it under the 'GamePlay' section on the left navigation pane in the 'Computer' section. It's the one where you landed when you signed in.</p>
        <br>
        <p>Oh, also since right now there's no actual gameplay as such, so you can't do much in the 'Game' section beside the 'Computer' section below. Still you can head over there to watch the prologue of the story. You'll need to turn on that mini laptop though after starting the game. Confused? Head over to the 'Game' section, if you wish to go through the prologue and to the 'Computer' section to start playing the tasks. You are smart! You'll get it.</p>
    </div>
</div>