<div class="browser-mockup">
    <div style="background-color: #FFFFFF; margin: auto; height: 40px; width: 100; border:1px solid #FFFFFF;">
        <i style="position: absolute; top: 15px; left: 10px;"type="button" class="fa fa-arrow-left" onclick='console.log("Back")'></i>
        <i style="position: absolute; top: 15px; left: 40px;"type="button" class="fa fa-refresh" onclick='console.log("Refresh")'></i>
    </div>
    <div class="address_bar" >
        <input type="text" id="browser-url" name="browser-url">
        <i style="position: absolute; top: 15px; right: 40px;" type="button" class="fa fa-arrow-right" onclick='console.log("Go")'></i>
    </div>
    <div class="browser-body">
        
    </div>
</div>