<link rel="stylesheet" type="text/css" href="css/browser.css">

<div class="browser-mockup">
    <div class="browser-title">
        <button type="button" class="btn btn-default browser-button goto_start" style="left: 10px;" ><i class="fa fa-arrow-left"></i></button>
        <button type="button" id="url-refresh" class="btn btn-default browser-button" style="left: 60px;" ><i class="fa fa-refresh"></i></button>
    </div>
    <div class="address_bar" >
        <input type="text" id="browser-url" name="browser-url" placeholder="Browser">
        <button type="button" id="url-go" class="btn btn-default browser-button" style="right: 60px;" ><i class="fa fa-arrow-right"></i></button>
        <button type="button" id="url-index" class="btn btn-default browser-button" style="right: 10px;" ><i class="fa fa-book"></i></button>
    </div>
    <div class="browser-body">
        <div id="url-loaderc" style="display:none;">
          <div id="url-loader_1" class="url-loader"></div>
          <div id="url-loader_2" class="url-loader"></div>
          <div id="url-loader_3" class="url-loader"></div>
          <div id="url-loader_4" class="url-loader"></div>
          <div id="url-loader_5" class="url-loader"></div>
          <div id="url-loader_6" class="url-loader"></div>
          <div id="url-loader_7" class="url-loader"></div>
          <div id="url-loader_8" class="url-loader"></div>
          <div id="url-loader_9" class="url-loader"></div>
          <div id="url-loader_10" class="url-loader"></div>
          <div id="url-loader_11" class="url-loader"></div>
          <div id="url-loader_12" class="url-loader"></div>
        </div>
        <div id="url-gabberc" style="display:none;">
            <% include websites/gabber %>
        </div>
        <div id="url-mailc" style="display:none;">
            <% include websites/mail %>
        </div>
        <div id="url-indexc">
            <% include websites/url_index %>
        </div>
        <div id="url-errorc" style="display:none;">
            <% include websites/url_error %>
        </div>
    </div>
</div>

<script>    
    var urltosite = function(){
        var url_wait = Math.floor(Math.random()*5+1);
        var url = $('#browser-url').val();
        if(!url){
            $('#url-error-message').html("So, you are one of those hitchhikers without a destination in mind, eh? Where are you headed smarty?");
            $('#url-gabberc').hide();
            $('#url-mailc').hide();
            $('#url-indexc').hide();
            $('#url-errorc').show();
        }
        else{
            $('#url-error-message').html("A dog ate your web page. Yeah that's it.");
            switch(url){
                case "www.gabber.game":
                    $('#url-mailc').hide();
                    $('#url-indexc').hide();
                    $('#url-errorc').hide();
                    $('#url-loaderc').show();
                    setTimeout(function(){
                        $('#url-loaderc').hide();
                        $('#url-gabberc').show();
                    }, url_wait*1000);
                    break;
                case "www.mail.game":
                    $('#url-gabberc').hide();
                    $('#url-indexc').hide();
                    $('#url-errorc').hide();
                    $('#url-loaderc').show();
                    setTimeout(function(){
                        $('#url-loaderc').hide();
                        $('#url-mailc').show();
                    }, url_wait*1000);
                    break;
                default:
                    $('#url-gabberc').hide();
                    $('#url-mailc').hide();
                    $('#url-indexc').hide();
                    $('#url-errorc').show();
                    break;
            }
        }
    }
        
    $('.address_bar').bind('keydown', function(e) {
		if(e.keyCode == 13) {
			urltosite();
		}
	});
    
    $('#url-go').bind('click', urltosite);
    
    $('#url-index').click(function(){
        $('#url-gabberc').hide();
        $('#url-mailc').hide();
        $('#url-indexc').show();
        $('#url-errorc').hide();
    });
</script>