<div class="chat">
    <div id="wrap">
        <div id="nav-bar">
            <a id="start_chat" class="win-command pull-left">
                <span class="win-commandicon win-commandring icon-arrow-left-12"></span>
            </a>
            <div class="pull-right">
                <div id="top-info" class="pull-right">
                    <a id="logged-user" class="win-command pull-right">
                        <span class="win-commandicon win-commandring icon-user"></span>
                    </a>
                    <div class="pull-left">
                        <h4 style="color:#fff;">John Doe</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-left">
            <h2 class="header-dropdown dropdown-toggle accent-color">ChatBox</h2>
            <div class="progress progress-indeterminate load" style="width: 120px; background-color:#ffffff;">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div id="chatbox" style="display: none; background-color: #ffffff; position: absolute; top: 120px; left: 50px; right: 50px; bottom: 10px; border:1px solid #ffffff;">		
        <div class="chatbot"></div>
        <div class="busybot" style="display: none;"></div>
        <div class="input">
            <input type="text" placeholder="Chat with me!" />
            <a>Send</a>
        </div>
    </div>
</div>

<script>
    setTimeout(function(){
        $('.load').slideUp("slow");
        setTimeout(function(){
            $('#chatbox').slideDown("slow");
        }, 1000);
    }, 5000);
</script>