<div class="left-menu_nav">
    <div class="logo_nav"><i class="fa fa-laptop"></i>
        <div>Computer</div>
    </div>
    <div class="accordion_nav">
        <div class="section">
            <input type="radio" name="accordion-1" id="section-1" value="toggle"/>
            <label for="section-1"><span>Internet</span></label>
            <div class="content">
                <ul id="ul_comp_nav">
                    <li><i class="fa fa-globe"></i><span><a href="#" id="browser">Browser</a></span></li>
                    <li><i class="fa fa-history"></i><span><a href="#" class="screen_links" onclick="selectLink(event, 'History')">History</a></span></li>
                    <li><i class="fa fa-download"></i><span><a href="#" class="screen_links" onclick="selectLink(event, 'Downloads')">Downloads</a></span></li>
                </ul>
            </div>
        </div>
        <div class="section">
            <input type="radio" name="accordion-1" id="section-3" value="toggle"/>
            <label for="section-3"> <span>Tools</span></label>
            <div class="content">
                <ul id="ul_comp_nav">
                    <li><i class="fa fa-cog"></i><span><a href="#" class="screen_links" onclick="selectLink(event, 'Settings')">Settings</a></span></li>
                    <li><i class="fa fa-terminal"></i><span><a href="#" class="screen_links" onclick="selectLink(event, 'Train')">Terminal</a></span></li>
                    <li><i class="fa fa-recycle"></i><span><a href="#" class="screen_links" onclick="selectLink(event, 'Bin')">Recycle Bin</a></span></li>
                </ul>
            </div>
        </div>
        <div class="section">
            <input type="radio" name="accordion-1" id="section-4" value="toggle"/>
            <label for="section-4"> <span>Game</span></label>
            <div class="content">
                <ul id="ul_comp_nav">
                    <li><i class="fa fa-tasks"></i><span><a href="#" id="tasks">Tasks</a></span></li>
                    <li><i class="fa fa-spinner"></i><span><a href="#" id="timeline">Progress</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="screen">
    
    <div id="startc">
        <% include start_menu %>
    </div>
        
    <div id="explorerc" style="display:none;">
        <% include explorer %>
    </div>
    
    <div id="chatc" style="display:none;">
        <% include chat %>
    </div>
    
    <div id="tasksc" style="display:none;">
        <% include tasks %>
    </div>
    
    <div id="timelinec" style="display:none;">
        <% include timeline %>
    </div>
    
    <div id="browserc" style="display:none;">
        <% include browser %>
    </div>
    
    <script>
        var comp_nav = false;
        
        $('#comp_nav').click(function(){
                if(comp_nav){
                    $('.left-menu_nav').animate({width:0}, function(){
                        $('.left-menu_nav').css("display", "none");
                    });
                    $('.screen').animate({left:0});
                    comp_nav = false;
                }
                else{
                    $('.left-menu_nav').animate({width:200});
                    $('.left-menu_nav').css("display", "block");
                    $('.screen').animate({left:200});
                    comp_nav = true;
                }
        });
        
        $('#explorer').click(function () {
            $("#explorerc").css("display", "block");
            $("#startc").css("display", "none");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
        });

        $('#start_explorer').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "block");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
        });
        
        $('#chat').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "none");
            $("#chatc").css("display", "block");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
            
            setTimeout(function(){
                $('.load').slideUp("slow");
                setTimeout(function(){
                    $('#chatbox').slideDown("slow");
                }, 1000);
            }, 5000);
        });
        
        $('#start_chat').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "block");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
        });
        
        $('#browser').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "none");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "block");
        });
        
        $('#start_browser').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "block");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
        });
        
        $('#tasks').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "none");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "block");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
        });
        
        $('#start_tasks').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "block");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
        });
        
        $('#timeline').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "none");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "block");
            $("#browserc").css("display", "none");
        });
        
        $('#start_timeline').click(function () {
            $("#explorerc").css("display", "none");
            $("#startc").css("display", "block");
            $("#chatc").css("display", "none");
            $("#tasksc").css("display", "none");
            $("#timelinec").css("display", "none");
            $("#browserc").css("display", "none");
        });
    </script>
</div>