<div class="left-menu_nav">
    <div class="logo_nav"><i class="fa fa-laptop"></i>
        <div>Computer</div>
    </div>
    <div class="accordion_nav">
        <div class="section">
            <input type="radio" name="accordion-1" id="section-1" value="toggle"/>
            <label for="section-1"><span>Internet</span></label>
            <div class="content">
                <ul class="ul_comp_nav">
                    <li><i class="fa fa-globe"></i><span><a id="browser">Browser</a></span></li>
                    <li><i class="fa fa-history"></i><span><a id="history">History</a></span></li>
                    <li><i class="fa fa-download"></i><span><a id="downloads">Downloads</a></span></li>
                </ul>
            </div>
        </div>
        <div class="section">
            <input type="radio" name="accordion-1" id="section-2" value="toggle"/>
            <label for="section-2"> <span>Tools</span></label>
            <div class="content">
                <ul class="ul_comp_nav">
                    <li><i class="fa fa-cog"></i><span><a id="options">Options</a></span></li>
                    <li><i class="fa fa-terminal"></i><span><a id="terminal">Terminal</a></span></li>
                    <li><i class="fa fa-recycle"></i><span><a id="recycle-bin">Recycle Bin</a></span></li>
                </ul>
            </div>
        </div>
        <div class="section">
            <input type="radio" name="accordion-1" id="section-3" value="toggle"/>
            <label for="section-3"> <span>Game</span></label>
            <div class="content">
                <ul class="ul_comp_nav">
                    <li><i class="fa fa-tasks"></i><span><a id="tasks">Tasks</a></span></li>
                    <li><i class="fa fa-spinner"></i><span><a id="timeline">Progress</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="screen">
        
    <div id="startc">
        <% include start_menu %>
    </div>
        
    <div id="explorerc" style="display:none;">
        <% include apps/explorer %>
    </div>
    
    <div id="chatc" style="display:none;">
        <% include apps/chat %>
    </div>
    
    <div id="looknmeetc" style="display:none;">
        <% include apps/looknmeet %>
    </div>
    
    <div id="tasksc" style="display:none;">
        <% include nav/tasks %>
    </div>
    
    <div id="timelinec" style="display:none;">
        <% include nav/timeline %>
    </div>
    
    <div id="browserc" style="display:none;">
        <% include nav/browser %>
    </div>
    
    <div id="historyc" style="display:none;">
        <% include nav/history %>
    </div>
    
    <div id="downloadsc" style="display:none;">
        <% include nav/downloads %>
    </div>
    
    <script>
        var comp_nav = true;
        
        $('.left-menu_nav').animate({width:200});
        $('.left-menu_nav').show();
        $('.screen').animate({left:200});

        $('.comp_nav').click(function(){
            if(comp_nav){
                $('.left-menu_nav').animate({width:0}, function(){
                    $('.left-menu_nav').hide();
                });
                $('.screen').animate({left:0});
                comp_nav = false;
            }
            else{
                $('.left-menu_nav').animate({width:200});
                $('.left-menu_nav').show();
                $('.screen').animate({left:200});
                comp_nav = true;
            }
        });
        
        $('#explorer').click(function () {
            $("#explorerc").show();
            $("#startc").hide();
            $("#chatc").hide();
            $("#looknmeetc").hide();
            $("#tasksc").hide();
            $("#timelinec").hide();
            $("#browserc").hide();
            $("#historyc").hide();
            $("#downloadsc").hide();
        });

        $('#chat').click(function () {
            $("#explorerc").hide();
            $("#startc").hide();
            $("#chatc").show();
            $("#looknmeetc").hide();
            $("#tasksc").hide();
            $("#timelinec").hide();
            $("#browserc").hide();
            $("#historyc").hide();
            $("#downloadsc").hide();
            
            setTimeout(function(){
                $('.load').slideUp("slow");
                setTimeout(function(){
                    $('#chatbox').slideDown("slow");
                }, 1000);
            }, 5000);
        });
        
        $('#looknmeet').click(function () {
            $("#explorerc").hide();
            $("#startc").hide();
            $("#chatc").hide();
            $("#looknmeetc").show();
            $("#tasksc").hide();
            $("#timelinec").hide();
            $("#browserc").hide();
            $("#historyc").hide();
            $("#downloadsc").hide();
        });
        
        $('#browser').click(function () {
            $("#explorerc").hide();
            $("#startc").hide();
            $("#chatc").hide();
            $("#looknmeetc").hide();
            $("#tasksc").hide();
            $("#timelinec").hide();
            $("#browserc").show();
            $("#historyc").hide();
            $("#downloadsc").hide();
        });
        
        $('#history').click(function () {
            $("#explorerc").hide();
            $("#startc").hide();
            $("#chatc").hide();
            $("#looknmeetc").hide();
            $("#tasksc").hide();
            $("#timelinec").hide();
            $("#browserc").hide();
            $("#historyc").show();
            $("#downloadsc").hide();
        });
        
        $('#downloads').click(function () {
            $("#explorerc").hide();
            $("#startc").hide();
            $("#chatc").hide();
            $("#looknmeetc").hide();
            $("#tasksc").hide();
            $("#timelinec").hide();
            $("#browserc").hide();
            $("#historyc").hide();
            $("#downloadsc").show();
        });
        
        $('#tasks').click(function () {
            $("#explorerc").hide();
            $("#startc").hide();
            $("#chatc").hide();
            $("#looknmeetc").hide();
            $("#tasksc").show();
            $("#timelinec").hide();
            $("#browserc").hide();
            $("#historyc").hide();
            $("#downloadsc").hide();
        });
        
        $('#timeline').click(function () {
            $("#explorerc").hide();
            $("#startc").hide();
            $("#chatc").hide();
            $("#looknmeetc").hide();
            $("#tasksc").hide();
            $("#timelinec").show();
            $("#browserc").hide();
            $("#historyc").hide();
            $("#downloadsc").hide();
        });
        
        $('.goto_start').click(function () {
            $("#explorerc").hide();
            $("#startc").show();
            $("#chatc").hide();
            $("#looknmeetc").hide();
            $("#tasksc").hide();
            $("#timelinec").hide();
            $("#browserc").hide();
            $("#historyc").hide();
            $("#downloadsc").hide();
        });
    </script>
</div>