<div class="browser-mockup">
    <div class="browser-title">
        <button type="button" class="btn btn-default browser-button goto_start" style="left: 10px;" ><i class="fa fa-arrow-left"></i></button>
        <h2 style="position:absolute; left:50%; font-weight:bold;">Downloads</h2>
    </div>
    <div class="browser-body">
        <div id="downloads_pane">
            <div class="downloads_pane">
                <div id="dir_old">
                    <input id="d1" type="checkbox">
                    <label for="d1">Old Files</label>
                    <div class="subdir">
                    </div>
                </div>
                <div id="dir_new">
                    <input id="d2" type="checkbox">
                    <label for="d2">New Downloads</label>
                    <div class="subdir">
                    </div>
                </div>
            </div>
        </div>
        <div id="downloads_body">
            <div id="downloads_content">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/downloads.js"></script>