<% include layouts/header %>

<% if (user != null) { %>
    <div id="gamec" style="display: none;">
        <% include game %>
    </div>
    <div id="computerc">
        <% include computer %>
        <script>swal("Greetings!", "Welcome to SecV, the security vigilante game!\n\nYou might want to visit the about section before you start playing. You can go there by clicking the 'About' link beside the shiny golden goblet below.", "info")</script>
    </div>
    <div id="aboutc" style="display:none;">
        <% include about %>
    </div>
<% } %>

<% include layouts/footer %>