<% include layouts/header %>

<% if (user != null) { %>
    <div id="gamec" style="display: none;">
        <% include game %>
    </div>
    <div id="computerc">
        <% include computer %>
        <script>//swal("Hello")</script>
    </div>
    <div id="aboutc" style="display:none;">
        <% include about %>
    </div>
<% } %>

<% include layouts/footer %>