<link rel="stylesheet" type="text/css" href="metro/css/bootmetro.css">
<link rel="stylesheet" type="text/css" href="metro/css/bootmetro-responsive.css">
<link rel="stylesheet" type="text/css" href="metro/css/bootmetro-icons.css">
<link rel="stylesheet" type="text/css" href="metro/css/start_menu.css">

<!-- Fix the overshadowing background and metro icons appearance. -->
<div class="start_menu">
    <div class="start_navbar">
        <a class="win-command pull-left comp_nav">
            <span class="win-commandicon win-commandring icon-list-2"></span>
        </a>
        <div class="pull-right">
            <a id="start_settings" class="win-command pull-right">
                <span class="win-commandicon win-commandring icon-cog-3"></span>
            </a>
            <div class="pull-left start_name">
                <h2>John Doe <i class="fa fa-user section_hint" hint_message="User specific gameplay will be integrated later."></i></h2>
            </div>
        </div>
    </div>
    
    <div class="pull-left start_title">
        <h2>Apps</h2>
    </div>

    <div class="metro panorama">
        <div class="panorama-sections">
            <div class="panorama-section tile-span-3">   
                <a id="explorer" class="tile app wide imagetext wideimage bg-color-yellow">
                    <div class="image-wrapper tile_center">
                        <span class="icon icon-monitor"></span>
                    </div>
                    <div class="app-label">
                        Explorer
                    </div>
                 </a>
                <a id="chat" class="tile app bg-color-greenDark">
                    <div class="image-wrapper">
                        <span class="icon icon-chat-2"></span>
                    </div>
                    <div class="app-label">
                        Chat
                    </div>
                </a>
                <a id="looknmeet" class="tile app bg-color-blueDark">
                    <div class="image-wrapper">
                        <span class="icon icon-users"></span>
                    </div>
                    <div class="app-label">
                        Look n Meet
                    </div>
                </a>
            </div>
            <div class="panorama-section tile-span-1">
            </div>
            <div class="panorama-section tile-span-2">
                <a class="tile widepeek">
                    <div class="tile wide image">
                        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Fuso_Trial_Heading_Left.jpg/640px-Fuso_Trial_Heading_Left.jpg" alt=""/>
                    </div>
                    <div class="tile wide text">
                        <div class="text-header">Fusō</div>
                        <div class="text4">
                            Japanese battleship Fusō (扶桑, a classical name for Japan) was the lead ship of the two Fusō-class dreadnought battleships built for the Imperial Japanese Navy.
                        </div>
                    </div>
                </a>
                <a class="tile wide imagetext wideimage bg-color-green">
                        <img src="http://upload.wikimedia.org/wikipedia/en/e/e9/Famous_Fantastic_Mysteries_August_1942_cover.jpg" alt=""/>
                        <div class="textover-wrapper transparent">
                            <div class="text2">
                                Famous Fantastic Mysteries
                            </div>
                        </div>
                    </a>
            </div>
            <div class="panorama-section tile-span-1">
            </div>
            <div class="panorama-section tile-span-3">
                <a class="tile app bg-color-blue">
                    <div class="image-wrapper">
                        <span class="icon icon-map"></span>
                    </div>
                    <div class="app-label">
                        Map
                    </div>
                </a>
                <a class="tile app bg-color-purple">
                    <div class="image-wrapper">
                        <span class="icon icon-weather"></span>
                    </div>
                    <div class="app-label">
                        Weather
                    </div>
                </a>
            </div>
        </div>
    </div>

    <a id="panorama-scroll-prev"></a>
    <a id="panorama-scroll-next"></a>
    <div id="panorama-scroll-prev-bkg"></div>
    <div id="panorama-scroll-next-bkg"></div>

    <div id="charms" class="slide">
        <div id="theme-charms-section" class="charms-section">
            <div class="charms-header">
                <a class="win-command">
                    <span class="close-charms win-commandicon win-commandring win-backbutton"></span>
                </a>
                <h2>Settings</h2>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="metro/js/bootstrap.min.js"></script>
<script type="text/javascript" src="metro/js/bootmetro-panorama.js"></script>
<script type="text/javascript" src="metro/js/bootmetro-pivot.js"></script>
<script type="text/javascript" src="metro/js/bootmetro-charms.js"></script>
<script type="text/javascript" src="metro/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="metro/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="metro/js/demo.js"></script>

<script>
    $('.panorama').panorama({
     showscrollbuttons: true,
     keyboard: true,
     parallax: true
    });
</script>