<style>
    figure {
        float: left;
        height: 6em;
        margin: 2em;
        width: 10em;
        -webkit-transform: perspective(500);
        -webkit-transform-style: preserve-3d;
        -webkit-transition: .5s;
    }
    
    figure:hover {
        -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
    }

    figure img {
        background-color: #222;
        box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
        display: block;
        height: 100%;
        -webkit-transition: .5s;
        cursor: pointer;
    }
    
    figure p{
        cursor: pointer;
    }

    figcaption {
        background-color: #222;
        color: #fff;
        padding: 1em;
        -webkit-transform: rotateX(-90deg);
        -webkit-transform-origin: 100% 0;
        -webkit-transition: .5s;
    }
    
</style>

<div class="tasks">
    <div id="wrap">
        <div id="nav-bar">
            <a id="start_tasks" class="win-command pull-left">
                <span class="win-commandicon win-commandring icon-arrow-left-12"></span>
            </a>
        </div>
    </div>
    <div id="chatbox" style="background-color: #ffffff; position: absolute; top: 80px; left: 0px; right: 0px; bottom: 0px; border:0px solid #ffffff; overflow-y: scroll;">
        
        <a href="#">
            <figure>
                <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
                <figcaption>
                    <h3>Chapter 1</h3>
                    <p>Task 1</p>
                </figcaption>
            </figure>
        </a>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 2</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 3</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 4.</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 5</p>
            </figcaption>
        </figure>
        
                <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 6</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 7</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 8</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 9.</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 1</h3>
                <p>Task 10</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 1</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 2</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 3</p>
            </figcaption>
        </figure>

        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 4</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 5</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 6</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 7</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 8</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 9</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
            <figcaption>
                <h3>Chapter 2</h3>
                <p>Task 10</p>
            </figcaption>
        </figure>
    </div>
</div>

<script>    
</script>