#molebuster{    
    position: absolute;
    height: 99%;
    width: 100%;
}

#title_mb{
    position: absolute;
    top: 5%;
    left: 40%;
    font-size: 20px;
    font-weight: bold;    
    text-decoration: underline;
}

#instructions_mb{
    position: absolute;
    top: 30%;
    left: 3%;
    height: 60%;
    width: 20%;
    background-color: #d3d3d3;
}

#table_mb{
    position: absolute;
    top: 25%;
    left: 30%;
}

#table_mb td{
    padding: 10px;
    text-align: center;
}

#table_mb input[type=radio]{
    cursor: pointer;
}

#message_mb{
    position: absolute;
    top: 30%;
    left: 65%;
    height: 8%;
    width: 30%;
}

#time_mb{
    position: absolute;
    top: 40%;
    left: 65%;
    height: 8%;
    width: 30%;
}

#score_mb{
    position: absolute;
    top: 50%;
    left: 65%;
    height: 8%;
    width: 30%;
}

#startstop_mb{
    position: absolute;
    top: 60%;
    left: 65%;
    height: 8%;
    width: 30%;
    border-radius: 10px;
}

#layer_mb {
    display: none;
    position: absolute;
    top: 50%;
    left: 30%;
    height: 40%;
    width: 25%;
    background-color: #a0ffcb;
    opacity: 0.4;
}

#layer_mb span {
    position: absolute;
    top: 50%;
    font-weight: bold;
    cursor: pointer;
}