#prologue{
    background: radial-gradient(#fff 50%, #aaa) fixed;
    perspective: 1800px; 
}
.macbook_prologue {
    position:absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
}

.screen_prologue {
  background: #000;
  border-radius: 3% 3% 0.5% 0.5% / 5%;
  margin: 0 auto;
  /* for aspect ratio */
  position: relative;
  width: 80%;
    transition: transform 2s;
    transform-style: preserve-3d;
    transform: rotateX(-85deg);
    transform-origin: bottom;
}

.screen_prologue:before {
  border: 2px solid #cacacc;
  border-radius: 3% 3% 0.5% 0.5% / 5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
  content: "";
  display: block;
  /* for aspect ratio ~67:100 */
  padding-top: 67%;
}

.screen_prologue:after {
  content: "";
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0.75%;
  left: 0.5%;
  padding-top: 1%;
  width: 99%;
}

.viewport_prologue {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: #333;
  padding: 5px 20px 5px 5px;
  overflow: auto;
}

.viewport_prologue{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.viewport_prologue::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.viewport_prologue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.viewport_prologue::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(105,105,105,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.bank_prologue {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: #000;
  padding: 5px 20px 5px 5px;
    color: #fff;
  overflow: auto;
}

.base_prologue {
  /* for aspect ratio */
  position: relative;
  width: 100%;
}

.base_prologue:before {
  content: "";
  display: block;
  /* for aspect ratio ~33:1000*/
  padding-top: 3.3%;
  /* stylin */
  background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, .01) 98%);
  border-radius: 0 0 10% 10%/ 0 0 50% 50%;
}

.base_prologue::after {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  height: 53%;
  position: absolute;
  top: 0;
  width: 100%;
}

.lid_prologue {
  position: relative;
  width: 100%;
  transform: rotateX(180deg);
  padding-top: 1.5%;
  background: linear-gradient(#eaeced,  #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, 1) 98%);
  border-radius: 0 0 10% 10%/ 0 0 100% 100%;
}

.notch_prologue {
  background: #ddd;
  border-radius: 0 0 7% 7% / 0 0 95% 95%;
  box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5%;
  z-index: 2;
  /* for aspect ratio */
  position: relative;
  width: 14%;
}

.notch_prologue:before {
  content: "";
  display: block;
  /* for aspect ratio ~1:10 */
  padding-top: 10%;
}

#console_prologue {
    font-family: courier, monospace;
    color: #fff;
    font-size:14px;
}

#a_prologue {
    color: #0f0;
}
#c_prologue {
    color: #0bc;
}
#b_prologue {
    color: #ff0096;
}

@keyframes blink_prologue {
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.hidden_prologue {
    display: none;
}

.password_prologue {
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.granted_prologue {
    margin: auto;
    font-size: 30px;
}

.blink_prologue {
        animation: blink_prologue 0.8s steps(1, start) infinite alternate;
}

#load_prologue {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: #fff;
  padding: 50px 20px 5px 5px;
  font-family:'Source Code Pro', 'Droid Sans Mono';
  text-transform: uppercase;
  overflow-y: hidden;
  text-align: center;
  font-size: 15px; 
  font-weight: 900;
}

  @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700);

  #spn_prologue {
      border:2px solid transparent;
      border-top:2px solid transparent;
      border-bottom:2px solid transparent;
      box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.2);
      border-style:solid;
      position:relative;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      margin-left: auto;
      margin-right: auto;
      -webkit-animation: spn_prologue 2s infinite linear;
      -moz-animation: spn_prologue 2s infinite linear;
      -o-animation: spn_prologue 2s infinite linear;
      animation: spn_prologue 2s infinite linear;
  }


  #spn_prologue:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border: 2px solid #666;
      border:2px solid transparent;
      border-top:2px solid transparent;
      border-bottom:2px solid transparent;
      box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.2);
      border-style: solid;
      margin: 0 auto;
      margin: 28px -17px 85px;
      border-radius: 50%;
      -webkit-animation: spn_prologue_ 1s infinite linear;
      -moz-animation: spn_prologue_ 1s infinite linear;
      -o-animation: spn_prologue_ 1s infinite linear;
      animation: spn_prologue_ 1s infinite linear;
  }

  .loading_prologue {
      color: rgba(0, 0, 0, 0.3);
      -webkit-animation: load 2s infinite linear;
      -moz-animation: load 2s infinite linear;
      -o-animation: load 2s infinite linear;
      animation: load 2s infinite linear;
  }

  @-webkit-keyframes spn_prologue {
      from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
      to {-webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg);}
  }

  @keyframes spn_prologue {
      from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
      to {-webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg);}
  }

 @-webkit-keyframes spn_prologue_ {
      from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
      to {-webkit-transform: rotate(720deg); -moz-transform: rotate(720deg);}
  }

  @keyframes spn_prologue_ {
    from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    to {-webkit-transform: rotate(720deg); -moz-transform: rotate(720deg);}
  }

  @-moz-keyframes load_prologue {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
 }

 @-webkit-keyframes load_prologue {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

 @keyframes load_prologue {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }


#myProgress_prologue {
  position: relative;
  width: 50%;
  height: 20px;
  background-color: #ddd;
}

#myBar_prologue {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #a0f000;
}

#label_prologue {
    position: relative;
    text-align: center;
    line-height: 20px;
    color: white;
    z-index: 1;
}

#bank_prologue {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: #fff;
  padding: 50px 20px 5px 5px;
  font-family:'Source Code Pro', 'Droid Sans Mono';
  text-transform: uppercase;
  overflow-y: hidden;
  text-align: center;
  font-size: 15px; 
  font-weight: 900;
}
