#randomgame{
    background: #222;
    position: absolute;
    height: 99%;
    width: 100%;
    padding: 5%;
}

#randomgame h1{
    font-size: 40px;
    font-family:serif;
    text-align: center;
    color: #EE3769;
    text-decoration: underline;
}

#randomgame p{
    font-size: 30px;
    font-family:serif;
    text-align: center;
    margin-top: 2%;
    line-height: 100%;
    color: #EE3769;
}

#randomgame a{
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #EE3769;
    border-radius: 8px;
    height:2.8em;
    width:10em;
    padding: 0;
    outline: none;
    overflow: hidden;
    color: #EE3769;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    line-height: 250%;
    margin-top: 1%;
}

#randomgame_back{
    position: absolute;
    left: 20%;
}

#randomgame_next{
    position: absolute;
    left: 70%;
}
  
#randomgame a:hover{
    color: #fff;
}

#guesswhat{
    padding: 2%;
}

.to_randomgame{
    position: absolute;
    top: 5%;
    left: 2%;
}
