.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 20px 20px 0 0;
  margin: 2em;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

input[type=text], select {
    font-size: 12px;
    position: absolute;
    top: 0.5em;
    left: 6em;
    width: calc(100% - 12em);
    padding: 9px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 5px;
    box-sizing: border;
    cursor: text;
}

.browser-body{
    background-color: #FFFFFF; 
    position: absolute;
    height: 75vh;
    width: 100%;
    overflow-y: scroll;
}

.browser-body::-webkit-scrollbar {
    width: 12px;
}

.browser-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
.browser-body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(105,105,105,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}