#login-dd, #signup-dd {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dd, #signup-dd .help-block{
    font-size:12px    
}

#login-dd, #signup-dd .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dd, #signup-dd .social-buttons{
    margin:12px 0    
}

#login-dd, #signup-dd .social-buttons a{
    width: 49%;
}

#login-dd, #signup-dd .form-group {
    margin-bottom: 10px;
}

#login-dd, #signup-dd, #tablinks { cursor: pointer; cursor: hand; }

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dd, #signup-dd{
        background-color: inherit;
        color: #fff;
    }
    #login-dd, #signup-dd .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}  

/*delete if everything works fine.*/
/*ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}*/

#ul_comp_nav {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
#ul_comp_nav li {
  padding: 10px;
}
#ul_comp_nav li i {
  font-size: 13px;
  width: 15px;
  margin-right: 15px;
}
#ul_comp_nav li:hover {
  cursor: pointer;
}
#ul_comp_nav li:hover i {
  color: #21CCFC;
}

.left-menu_nav {
    background: #222;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 51px;
}

.left-menu_nav  a:link {color: #FFFFFF;}
.left-menu_nav  a:visited {color: #FFFFFF; text-decoration: none;}
.left-menu_nav  a:hover {color: #21CCFC; }
.left-menu_nav  a:focus {color: #21CCFC;}
.left-menu_nav  a:active {color: #21CCFC; }

.accordion_nav {
  color: #FFF;
  width: 100%;
}
.accordion_nav .section {
  width: 100%;
}
.accordion_nav .section input[type='radio'] {
  display: none;
}
.accordion_nav .section input[type='radio']:checked + label {
  background: #363636;
}
.accordion_nav .section input[type='radio']:checked + label:before {
  content: " ";
  position: absolute;
  border-left: 3px solid #21CCFC;
  height: 100%;
  left: 0;
}
.accordion_nav .section input[type='radio']:checked ~ .content {
  max-height: 300px;
  opacity: 1;
  z-index: 10;
  overflow-y: auto;
}
.accordion_nav .section label {
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  display: table;
  background: #222;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.accordion_nav .section label:before {
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  border-top: 1px solid #363636;
}
.accordion_nav .section label:hover {
  background: #363636;
}
.accordion_nav .section label span {
  display: table-cell;
  vertical-align: middle;
}
.accordion_nav .section:last-of-type {
  border-bottom: 1px solid #363636;
}
.accordion_nav .section .content {
  max-height: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  position: relative;
  overflow-y: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion_nav {
  font-size: 14px;
}
.accordion_nav .section .content {
  padding: 0 15px;
}
.accordion_nav .section input[type='radio'] {
  display: none;
}
.accordion_nav .section input[type='radio']:checked ~ .content {
  padding: 15px;
}

.logo_nav {
  padding: 30px 10px;
  width: 200px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
}
.logo_nav i {
  font-size: 70px;
  color: #21CCFC;
}

.start_button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.start_button:hover {background-color: #3e8e41}

.start_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}