.explorer {
  /* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
}
.explorer a,
.explorer abbr,
.explorer acronym,
.explorer address,
.explorer applet,
.explorer article,
.explorer aside,
.explorer audio,
.explorer b,
.explorer big,
.explorer blockquote,
.explorer body,
.explorer canvas,
.explorer caption,
.explorer center,
.explorer cite,
.explorer code,
.explorer dd,
.explorer del,
.explorer details,
.explorer dfn,
.explorer dialog,
.explorer div,
.explorer dl,
.explorer dt,
.explorer em,
.explorer embed,
.explorer fieldset,
.explorer figcaption,
.explorer figure,
.explorer font,
.explorer footer,
.explorer form,
.explorer h1,
.explorer h2,
.explorer h3,
.explorer h4,
.explorer h5,
.explorer h6,
.explorer header,
.explorer hgroup,
.explorer hr,
.explorer html,
.explorer i,
.explorer iframe,
.explorer img,
.explorer ins,
.explorer kbd,
.explorer label,
.explorer legend,
.explorer li,
.explorer mark,
.explorer menu,
.explorer meter,
.explorer nav,
.explorer object,
.explorer ol,
.explorer output,
.explorer p,
.explorer pre,
.explorer progress,
.explorer q,
.explorer rp,
.explorer rt,
.explorer ruby,
.explorer s,
.explorer samp,
.explorer section,
.explorer small,
.explorer span,
.explorer strike,
.explorer strong,
.explorer sub,
.explorer summary,
.explorer sup,
.explorer table,
.explorer tbody,
.explorer td,
.explorer tfoot,
.explorer th,
.explorer thead,
.explorer time,
.explorer tr,
.explorer tt,
.explorer u,
.explorer ul,
.explorer var,
.explorer video,
.explorer xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.explorer html,
.explorer body {
  height: 100%;
}
.explorer article,
.explorer aside,
.explorer details,
.explorer figcaption,
.explorer figure,
.explorer footer,
.explorer header,
.explorer hgroup,
.explorer menu,
.explorer nav,
.explorer section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}
.explorer b,
.explorer strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}
.explorer img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}
.explorer li {
  /*
  For IE6 + IE7.
*/
  display: list-item;
}
.explorer table {
  border-collapse: collapse;
  border-spacing: 0;
}
.explorer th,
.explorer td,
.explorer caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
.explorer q {
  quotes: none;
}
.explorer q:before,
.explorer q:after {
  content: '';
  content: none;
}
.explorer sub,
.explorer sup,
.explorer small {
  font-size: 75%;
}
.explorer sub,
.explorer sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.explorer sub {
  bottom: -0.25em;
}
.explorer sup {
  top: -0.5em;
}
.explorer svg {
  /*
  For IE9.
*/
  overflow: hidden;
}
