<div class="browser-mockup">
    <div class="browser-title">
        <button type="button" class="btn btn-default browser-button goto_start" style="left: 10px;" ><i class="fa fa-arrow-left"></i></button>
        <h2>History</h2>
    </div>
    <div class="browser-body">
        
    </div>
</div>