<link rel="stylesheet" type="text/css" href="css/game.css"/>

<div id="tasks_menu">
    <div id="start_navbar">
        <div class="pull-left">
            <a class="win-command pull-right comp_nav">
                <span class="win-commandicon win-commandring icon-list-2"></span>
            </a>
            <br>
            <a class="win-command pull-left goto_start">
                <span class="win-commandicon win-commandring icon-arrow-left-12"></span>
            </a>
        </div>
        <div class="pull-right start_name">
            <h2>Tasks</h2>
        </div>
    </div>
    <div id="task1_1" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>1.1</h2>
        <div class="taskbox_caption">
            <h3>Chapter 1</h3>
            <p>Task 1</p>
        </div>
    </div>
    <div id="task1_2" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>1.2</h2>
        <div class="taskbox_caption">
            <h3>Chapter 1</h3>
            <p>Task 2</p>
        </div>
    </div>
    <div id="task1_3" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>1.3</h2>
        <div class="taskbox_caption">
            <h3>Chapter 1</h3>
            <p>Task 3</p>
        </div>
    </div>
    <div id="task1_4" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>1.4</h2>
        <div class="taskbox_caption">
            <h3>Chapter 1</h3>
            <p>Task 4.</p>
        </div>
    </div>
    <div id="task2_1" class="taskbox">
        <h2>2.1</h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p>Task 1</p>
        </div>
    </div>
    <div id="task2_2" class="taskbox">
        <h2>2.2</h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p>Task 2</p>
        </div>
    </div>
    <div id="task2_3" class="taskbox">
        <h2>2.3</h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p>Task 3</p>
        </div>
    </div>
    <div id="task2_4" class="taskbox">
        <h2>2.4</h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p>Task 4</p>
        </div>
    </div>
    <div id="task2_5" class="taskbox">
        <h2>2.5</h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p>Task 5</p>
        </div>
    </div>
    <div id="task2_6" class="taskbox">
       <h2>2.6</h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p>Task 6</p>
        </div>
    </div>
    <div id="task3_1" class="taskbox">
        <h2>3.1</h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p>Task 1</p>
        </div>
    </div>
    <div id="task3_2" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.2</h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p>Task 1</p>
        </div>
    </div>
    <div id="task3_3" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.3</h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p>Task 3</p>
        </div>
    </div>
    <div id="task3_4" class="taskbox">
        <h2>3.4</h2>
        <div class="taskbox_caption">
            <h3>Chapter 4</h3>
            <p>Task 4</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/nav/tasks.js"></script>