<link rel="stylesheet" type="text/css" href="css/nav/tasks.css"/>

<div id="tasks_menu">
    <div class="start_navbar">
        <div class="pull-left">
            <a class="win-command pull-right comp_nav">
                <span class="win-commandicon win-commandring icon-list-2"></span>
            </a>
            <br>
            <a class="win-command pull-left goto_start">
                <span class="win-commandicon win-commandring icon-arrow-left-12"></span>
            </a>
        </div>
        <div class="pull-right start_name">
            <h2>Tasks <i class="fa fa-tasks section_hint" hint_message="This is the place you'll need to come everytime you wish to replay a task. Since we lack a gameplay, for the time being you'll need to initiate the tasks even for the first time from here."></i></h2>
        </div>
    </div>
    <div id="task0_1" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>0.1 <span id="anonymous">[Anonymous]</span></h2>
        <div class="taskbox_caption">
            <h3>Prologue</h3>
            <p><span id="anonymoush">&#45;&#45;&#62; Task 1 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task1_1" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>1.1 <span id="player">[Player]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 1</h3>
            <p><span id="playerh">&#45;&#45;&#62; Task 1 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task2_1" class="taskbox">
        <h2>2.1 <span id="ricky">[Ricky]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p><span id="rickyh">&#45;&#45;&#62; Task 1 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task2_2" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>2.2 <span id="flora">[Flora]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p><span id="florah">&#45;&#45;&#62; Task 2 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task2_3" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>2.3 <span id="antonio">[Antonio]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p><span id="antonioh">&#45;&#45;&#62; Task 3 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task2_4" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>2.4 <span id="maria">[Maria]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p><span id="mariah">&#45;&#45;&#62; Task 4 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task2_5" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>2.5 <span id="tony">[Tony]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p><span id="tonyh">&#45;&#45;&#62; Task 5 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task2_6" class="taskbox" style="opacity: .5; pointer-events:none;">
       <h2>2.6 <span id="sam">[Sam]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 2</h3>
            <p><span id="samh">&#45;&#45;&#62; Task 6 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task3_1" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.1 <span id="antonio">[Antonio]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p><span id="antonioh">&#45;&#45;&#62; Task 1 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task3_2" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.2 <span id="maria">[Maria]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p><span id="mariah">&#45;&#45;&#62; Task 2 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task3_3" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.3 <span id="ricky">[Ricky]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p><span id="rickyh">&#45;&#45;&#62; Task 3 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task3_4" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.4 <span id="flora">[Flora]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p><span id="florah">&#45;&#45;&#62; Task 4 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task3_5" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.5 <span id="player">[Player]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p><span id="playerh">&#45;&#45;&#62; Task 5 &#60;&#45;&#45;</span></p>
        </div>
    </div>
    <div id="task3_6" class="taskbox" style="opacity: .5; pointer-events:none;">
        <h2>3.6 <span id="sam">[Sam]</span></h2>
        <div class="taskbox_caption">
            <h3>Chapter 3</h3>
            <p><span id="samh">&#45;&#45;&#62; Task 6 &#60;&#45;&#45;</span></p>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/nav/tasks.js"></script>