<link rel="stylesheet" type="text/css" href="css/websites/blog.css" />

<div id="blog">
    <div id="blog_left">
        <div class="blog_home">
            <h1>Welcome!<br>To The Only Blog You'll Ever Need</h1>
        </div>
        <div class="blog_read" style="display:none;">
            <button type="button" class="btn btn-primary">
                Go Back.
            </button>
            <div id="blog_index">
                <ol>
                    <h3>List of articles</h3>
                </ol>
            </div>
        </div>
        <div class="blog_write" style="display:none;">
            <button type="button" class="btn btn-success">
                Go Back.
            </button>
        </div>
        <div class="blog_why" style="display:none;">
            <button type="button" class="btn btn-danger">
                Go Back.
            </button>
        </div>
    </div>
    <div class="blog_home" id="blog_home_main">
        <p>In this fast paced world, you are already busy writing your own stories. And now, you are way too tired to write some whining article on some paralysing website. But to take your mind off occasionally, you don't mind peeking into other's minds. In fact, you love reading quite a bit.</p>
        <button id="blog_read_button" type="button" class="btn btn-primary">
            Yes, I am one of those avid and voracious readers. I'll sure love to read one now.
        </button>
        <p>You are a firm believer of the power of the mighty words. You know that after nutrition, shelter and companionship, stories are the most important thing in the world. You have always been passionate about sharing your stories, just not by talking.</p>
        <button id="blog_write_button" type="button" class="btn btn-success">
            You got me! I do like joting down my feelings a lot. Hell, I want to write something immediately.
        </button>
        <p>You stumbled and fumbled and tumbled and somehow mysteriously entered into this mystifying world of textual imagination. You were headed somewhere else and suddenly somehow got redirected to this strange website. Well, fear not for you might never want to leave this place.</p>
        <button id="blog_why_button" type="button" class="btn btn-danger">
            Umm... Yeah, I am not sure! I have no clue why I am here. Do you mind getting me out of here?
        </button>
    </div>
    <div class="blog_read" id="blog_read_main" style="display:none;">
        <div id="blog_header">
            Powerful Workflow Tips, Tools And Tricks For Web Designers	
        </div>
        <div id="blog_body">
            <p>However, some steps can be repeated for every project. These are steps we know and should make as quick as possible in order to have more freedom to experiment with new solutions.
            This article presents a collection of tools, tips and tricks that will make your standard workflow as fast and practical as possible, so that you have more time for the exciting parts of the project.
            Ready? Here we go!</p>  
            <p>Designing and developing can be time-consuming, especially when the project involves a new challenge, putting the team or freelancer into unknown territory. Moreover, time is a key factor in productivity. Working efficiently enables us to deliver better value at a competitive price.</p>
            <p>Axure is a powerful tool for creating software prototypes quickly. Getting started with it is really easy; however, therein lies a danger. The tool is so intuitive that many users can be productive without undergoing any formal training. What they might not be aware of is that they probably aren’t using Axure optimally.
            </p><p> Click on the link below to download the file.</p>
        </div>
        <div id="blog_footer">
            Written by - <span id="blog_author">gabby</span>
            <hr>
            Posted - <span id="blog_date">October 5th, 2013</span>
        </div>
    </div>
    <div class="blog_write" id="blog_write_main" style="display:none;">
        <div>
            <label for="blog_title">Title</label>
            <textarea class="blog_input" id="blog_title" rows="1"></textarea>
        </div>
        <div>
            <label for="blog_content">Content</label>
            <textarea class="blog_input" rows="8" id="blog_content"></textarea>
        </div>
        <div>
            <label for="blog_date">Date</label>
            <textarea class="blog_input" id="blog_date" rows="1"></textarea>
        </div>
        <div>
            <label for="blog_author">Author</label>
            <textarea class="blog_input" id="blog_author" rows="1"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-default blog_input">Publish</button>
        </div>
    </div>
    <div class="blog_why" id="blog_why_main" style="display:none;">
    </div>
    <div class="blog_ad_right">
        <div id="blog_ads"></div>
    </div>
</div>

<script type="text/javascript" src="js/websites/blog.js"></script>