<link rel="stylesheet" type="text/css" href="css/websites/crackdiy.css" />

<div id="crackdiy">
    <div id="crackdiy_header">
        <div id="crackdiy_logo">
            <div class="tri tri1"></div>
            <div class="tri tri2"></div>
            <div class="tri tri3"></div>
            <div class="tri tri4"></div>
        </div>
        <h1><b>CRACKDIY</b></h1>
        <div id="crackdiy_nav">
            Login | Register
        </div>
    </div>
    <div id="crackdiy_main">
        <div id="crackdiy_info">
            <b>Filename:</b>crackdiy.rar<br>
            <b>Size:</b>67.0 MB<br>
            <b>Downloaded:</b>376 times<br>
            <b>Description:</b>www.crackdiy.game(The best crackers in the world.)<br>
        </div>
        <div id="crackdiy_download">
            <a class="crackdiy_fake">Download torrent</a><br><br>
            <a class="crackdiy_real">Download CrackDIY</a><br><br>
            <a class="crackdiy_fake">Open Magnetic Link</a><br>
        </div>
        <div id="crackdiy_ad1">
            <a id="crackdiy_green" class="crackdiy_fake1">DOWNLOAD NOW <i class="fa fa-arrow-circle-right"></i><span>powered by iPlay</span></a>
            <a id="crackdiy_purple" class="crackdiy_fake1">CONVERT ONLINE <i class="fa fa-arrow-circle-down"></i><span>powered by iPlay</span></a>
        </div>
        
        <div id="crackdiy_ad2" class="crackdiy_fake2"></div>
        <div id="crackdiy_ad3">
            <input class="crackdiy_fake3" type="button" value="Click here to download all the latest cracks">
            <input class="crackdiy_fake3" type="button" value="View the new game trailers">
        </div>
        <div id="crackdiy_ad4">
            <p>Advertisement</p>
            <a class="crackdiy_fake4" id="crackdiy_red">Download!</a>
        </div>
        <div id="crackdiy_ad5" class="crackdiy_fake5"></div>
        <div id="crackdiy_message">
            <p>Sorry for all the advertisements. But they help us in running our websites.</p>
            <p>In case you are tired of them, you can always help us by funding our cause.</p>
            <p>Thanks. Click on the below link to proceed.</p>
            <a class="crackdiy_fake0"> Donate</a>
        </div>
    </div>
</div>

<script>
    var task$2_5 = 0;
    var result$2_5 = 0;
    $('#crackdiy_ad5').html(game_ad5());
    $('#crackdiy_ad2').html(game_ad2());
    
    $('#crackdiy_ad2 .marquee').marquee({
        duration: 5000,
        gap: 50,
        delayBeforeStart: 0,
        direction: 'up',
        duplicated: true,
        startVisible: 'false',
    });
    
    $('.crackdiy_fake').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
            swal("Not bad.", "You are on the right track. You might wanna try again, though.", "warning");
        }
    });
    
    $('.crackdiy_real').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
           swal({
            title: "Awesome!",
            text: "In order to download the file, you need to sign up to our services. Don't worry, it's free of cost. Do you wish to register now?",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: false
            },
            function(isConfirm ){
                if (isConfirm)
                    check2_5(0);
                else
                    check2_5(1);
            }); 
        }
    });
    
    $('.crackdiy_fake0').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
            swal("Seriously?", "Why would you donate to a website that you know nothing of? They didn't even claim to offer you something. You fail. You can still continue the task. But you won't get any points.", "warning");
            check2_5(-1);
        }
    });
    
    $('.crackdiy_fake1').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
            swal("Seriously?", "It clearly says that it's powered by iPlay, but you couldn't resist clicking advertisements, could you?. You fail.", "warning");
            check2_5(-1);
        }
        
    });
    
    $('.crackdiy_fake2').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
            swal("Seriously?", "Oh, so you won? You don't mind buying my lottery tickets the next time, do you? You fail.", "warning");
            check2_5(-1);
        }
    });
    
    $('.crackdiy_fake3').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
            swal("Seriously?", "Yeah, because life's just that simple. You might want to try again, you know. You fail.", "warning");
            check2_5(-1);
        }
    });
    
    $('.crackdiy_fake4').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
            swal("Seriously?", "Tell me, you didn't see that advertisement label over the button. You fail.", "warning");
            check2_5(-1);
        }
    });
    
    $('.crackdiy_fake5').click(function(){
        if(task$2_5 == 0){
            swal("Info", "Initiate the task 2.5 first.", "info");
        }
        else{
            swal("Seriously?", "You really trust a random advertisement to help you make your own website better? You fail.", "warning");
            check2_5(-1);
        }
    });
</script>