<link rel="stylesheet" type="text/css" href="css/gabber.css" />

<div id="gabber">
    <div id="gabber_title">
        <h1>Gabber</h1>
    </div>
    <div id="gabber_about">
        <h3>Welcome message</h3>
        <p>Description Line 1</p>
        <p>Description Line 2</p>
        <p>Description Line 3</p>
        <p>Description Line 4</p>
        <br>
        <button type="button" class="btn btn-default gabber-button" id="gabber_start">Start chatting with a new stranger.</button>
    </div>
    <div id="gabber_body" style="display: none;">
        <div id="gabber_chat"></div>
        <div id="gabber_instruct" style="display: none;"></div>
        <div id="gabber_busy" style="display: none;"></div>
        <div id="gabber_input">
            <button type="button" class="btn btn-default gabber-button" id="gabber_send">Send</button>
            <input id="gabber_inputbox" type="text" placeholder="Type here." />
             <button style="float: right;" type="button" class="btn btn-default gabber-button" id="gabber_end">End conversation</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/gabber.js"></script>