<link rel="stylesheet" type="text/css" href="css/gabber.css" />

<div id="gabber">
    <div id="gabber_title">
        <h1>Gabber</h1>
    </div>
    <div id="gabber_about">
        <h3>Welcome message</h3>
        <p>There are so many wonderful people out there. We'll connect you to to a random stranger every time you press the button below.</p>
        <p>As much as we'd like to connect you to a 'new' random stranger every time, we can't assure you that that is bound to happen. So, once in a while you might encounter the same person you had conversations before with.</p>
        <p>We are constantly working for your amusement. So don't judge us and have fun!</p>
        <p>Disclaimer: Although this website is completely safe, we're afraid we can't say the same about the people out there. So be cautious!</p>
        <br>
        <button type="button" class="btn btn-default gabber-button" id="gabber_start">Start chatting with a new stranger.</button>
    </div>
    <div id="gabber_body" style="display: none;">
        <div id="gabber_chat"></div>
        <div id="gabber_instruct" style="display: none;"></div>
        <div id="gabber_busy" style="display: none;"></div>
        <div id="gabber_input">
            <button type="button" class="btn btn-default gabber-button" id="gabber_send">Send</button>
            <input id="gabber_inputbox" type="text" placeholder="Type here." />
            <button style="float: right;" type="button" class="btn btn-default gabber-button" id="gabber_end">End conversation</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/websites/gabber.js"></script>