<link rel="stylesheet" type="text/css" href="css/musicfiles.css" />

<div id="musicfiles">
    <div id="musicfiles_header">
        <h1><b>MusicFiles - You want songs. We want fame. Let's make a deal.</b></h1>
    </div>
    <div id="musicfiles_main">
        <div id="musicfiles_info">
            <b>Filename: </b>letsmeet.mp3.exe<br>
            <b>Size: </b>4.3 MB<br>
            <b>Downloaded: </b>12694 times<br>
            <b>Description: </b>www.musicfiles.game<br>
        </div>
        <div id="musicfiles_download">
            <a>Download CrackDIY</a><br><br>
        </div>
        <div id="musicfiles_ad"></div>
    </div>
</div>

<script>
    var task$3_4 = 0;
    
    $('#musicfiles_ad').html(game_ad4());
    
    $('#musicfiles_download').click(function(){
        if(task$3_4 == 1)
            check3_4();
        else
            swal("Info", "Initiate the task 3.4 first.", "info")
    });
</script>