<link rel="stylesheet" type="text/css" href="css/websites/randomgame.css">

<div id="randomgame">
    <h1>Random Game - Games are fun. So are surprises.</h1>
    <p>So, you decided to come after all.</p>
    
    <p>Everytime you come here, we'll redirect you to a random website where you can play a random game. Well, hence the name 'www.randomgame.game' as you'd have guessed anyway.</p>

    <p>Now this page is safe for sure, but we can't take responsibility for those other game websites. Some of them might be genuine, others... well, you know. There aren't any free lunches. So, have fun and be safe.</p>

    <p>Good luck!</p>
    <p>Do you wish to continue? On your own risk, of course!</p>
    <a id="randomgame_back"><i class="fa fa-step-backward"></i> Nope! Go back</a>
    <a id="randomgame_next">Yeah! Let's play <i class="fa fa-step-forward"></i></a>
</div>

<script type="text/javascript" src="js/websites/randomgame.js"></script>