<div id="url_index_content">
    <h1>Index</h1>  
    <table>
        <tr>
            <th>URL</th>
            <th>Website Details</th>
        </tr>
        <tr>
            <td>www.mail.game</td>
            <td>Access your mailbox.</td>
        </tr>
        <tr>
            <td>www.gabber.game</td>
            <td>Talk with random strangers.</td>
        </tr>
    </table>
</div>