<p id="error-message">A dog ate your web page. Yeah, that's it.</p>
<hr>
<button type="button" id="url-error" class="btn btn-default">Get the list of working websites</button>
<script>
    $('#url-error').click(function(){
        $('#url-gabberc').hide();
        $('#url-mailc').hide();
        $('#url-indexc').show();
        $('#url-errorc').hide();
    });
</script>