<div id="url_index_content">
    <h1>Index</h1>
    <p>Disclaimer: For the internet is full of terrors, this is a list of all the safe websites.</p>  
    <table>
        <tr>
            <th>URL</th>
            <th>Website Details</th>
        </tr>
        <tr>
            <td>www.mail.game</td>
            <td>Access your mailbox.</td>
        </tr>
        <tr>
            <td>www.gabber.game</td>
            <td>Talk with random strangers.</td>
        </tr>
        <tr>
            <td>www.gamereviews.game</td>
            <td>Read reviews about games.</td>
        </tr>
        <tr>
            <td>www.blog.game</td>
            <td>Explore the world of articles.</td>
        </tr>
        <tr>
            <td>www.bank.game</td>
            <td>Access your bank account.</td>
        </tr>
        <tr>
            <td>www.randomgame.game</td>
            <td>Play a random game each time.</td>
        </tr>
        <tr>
            <td>www.travel.game</td>
            <td>Plan your travel and book tickets here.</td>
        </tr>
        <tr>
            <td>www.shop.game</td>
            <td>You personal e-store.</td>
        </tr>
    </table>
</div>