<div class="url_error">
    <div>
        <p id="url-error-message"></p>
        <br>
        <br>
        <button type="button" id="url-error-button" class="btn btn-default">Get the list of working websites</button>
    </div>
</div>

<script type="text/javascript" src="js/websites/url_error.js"></script>