@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-image: none;
  background-repeat: repeat-x;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: none;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: none;
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: none;
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: none;
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: none;
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: none;
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: none;
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: none;
}

.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: none;
}

.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: none;
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #f5a932;
  background-image: -moz-linear-gradient(top, #f8b64d, #f09609);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8b64d), to(#f09609));
  background-image: -webkit-linear-gradient(top, #f8b64d, #f09609);
  background-image: -o-linear-gradient(top, #f8b64d, #f09609);
  background-image: linear-gradient(to bottom, #f8b64d, #f09609);
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8b64d', endColorstr='#fff09609', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #f8b64d;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: none;
}

.start_navbar {
  position: relative;
  display: block;
  height: auto;
  padding-top: 24px;
  padding-bottom: 20px;
}

.win-backbutton {
  display: inline-block;
  width: 38px;
  height: 38px;
  min-width: 0;
  min-height: 0;
  padding: 0;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  vertical-align: baseline;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-clip: border-box;
}

.win-backbutton:before {
  font-family: 'IcoMoon';
  font-size: 22px;
  font-weight: normal;
  vertical-align: top;
  content: "\e41c";
}

.win-backbutton:disabled,
.win-backbutton:disabled:active {
  visibility: hidden;
  background-clip: padding-box;
}

.start_navbar .win-backbutton {
  position: absolute;
  top: 30px;
  left: 0;
}

/*
Command buttons.
*/

.win-command {
  display: inline-block;
  height: auto;
  margin: 0 5px;
  font-size: 9pt;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: none;
  border: 0;
  background-clip: border-box;
}

/*
Command button icons.
*/

.win-commandicon {
  display: inline-block;
  width: 42px;
  height: 42px;
  min-width: 0;
  min-height: 0;
  padding: 0;
  font-size: 24px;
  line-height: 40px !important;
}

.win-commandimage {
  display: inline-block;
  width: 42px;
  height: 42px;
  letter-spacing: 0;
  vertical-align: middle;
}

/*
Command button "ring".
*/

.win-commandring {
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-clip: border-box;
}

a:hover:active .win-commandring,
a[aria-checked=true] .win-commandring,
a[aria-checked=true]:active .win-commandring,
a[aria-checked=true]:disabled .win-commandring,
a[aria-checked=true]:disabled:active .win-commandring,
button:hover:active .win-commandring,
button[aria-checked=true] .win-commandring,
button[aria-checked=true]:active .win-commandring,
button[aria-checked=true]:disabled .win-commandring,
button[aria-checked=true]:disabled:active .win-commandring {
  background-clip: border-box;
}

/*
Command button labels.
*/

a.win-command .win-label,
button.win-command .win-label {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 3px;
  overflow: hidden;
  line-height: 15px;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a.win-command,
a.win-command:hover {
  text-decoration: none;
}

.win-command.win-command-large .win-commandicon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px !important;
  text-align: center;
}

.win-command.win-command-small .win-commandicon {
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px !important;
}

/*
Progress control. */

.progress {
  height: auto;
  background-image: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.progress .bar {
  height: 5px;
}

.progress.progress-indeterminate {
  height: auto;
  background-color: transparent;
}

.progress.progress-indeterminate .bar {
  position: static;
  display: block;
  width: 88px;
  height: 8px;
  margin: 4px auto;
  background: transparent url("../img/progress-indeterminate-light.gif") no-repeat 0 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.progress.progress-indeterminate .win-ring {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  background: transparent url("../img/progress-indeterminate-ring-light.gif") no-repeat 0 0;
}

.progress.progress-indeterminate .win-ring.small {
  width: 24px;
  height: 24px;
  background: transparent url("../img/progress-indeterminate-ring-light-small.gif") no-repeat 0 0;
}

.win-ui-dark.progress.progress-indeterminate .bar {
  background: transparent url("../img/progress-indeterminate-dark.gif") no-repeat 0 0;
}

.win-ui-dark.progress.progress-indeterminate .win-ring.small {
  width: 24px;
  height: 24px;
  margin: 5px 10px;
  background: transparent url("../img/progress-indeterminate-ring-dark-small.gif") no-repeat 0 0;
}

.progress-danger .bar,
.progress .bar-danger,
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger,
.progress-success .bar,
.progress .bar-success,
.progress-success.progress-striped .bar,
.progress-striped .bar-success,
.progress-info .bar,
.progress .bar-info,
.progress-info.progress-striped .bar,
.progress-striped .bar-info,
.progress-warning .bar,
.progress .bar-warning,
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-image: none;
  filter: none;
}

.progress .bar + .bar {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.bg-color-orange {
  background-color: #f09609 !important;
}

.bg-color-purple {
  background-color: #7b4f9d !important;
}

.bg-color-greenDark {
  background-color: #008641 !important;
}

.bg-color-blue {
  background-color: #2e8bcc !important;
}

.bg-color-red {
  background-color: #e51400 !important;
}

.bg-color-green {
  background-color: #339933 !important;
}

.bg-color-blueDark {
  background-color: #20608e !important;
}

.bg-color-yellow {
  background-color: #ffc40d !important;
}

.bg-color-pink {
  background-color: #e671b8 !important;
}

.bg-color-darken {
  background-color: #1c1c1c !important;
}

.bg-color-gray {
  background-color: #555555 !important;
}

.bg-color-grayLight {
  background-color: #999999 !important;
}

.metro {
  position: relative;
}

.tile-column {
  position: relative;
  float: left;
  width: auto;
  height: auto;
}

.tile-column-span-1 {
  position: relative;
  float: left;
  width: auto;
  width: 162px;
  height: auto;
  margin-left: 0 !important;
}

.tile-column-span-2 {
  position: relative;
  float: left;
  width: auto;
  width: 324px;
  height: auto;
  margin-left: 0 !important;
}

.tile-column-span-3 {
  position: relative;
  float: left;
  width: auto;
  width: 480px;
  height: auto;
  margin-left: 0 !important;
}

.tile-column-span-4 {
  position: relative;
  float: left;
  width: auto;
  width: 640px;
  height: auto;
  margin-left: 0 !important;
}

.tile-column-span-5 {
  position: relative;
  float: left;
  width: auto;
  width: 640px;
  height: auto;
  margin-left: 0 !important;
}

.tile-column-span-6 {
  position: relative;
  float: left;
  width: auto;
  width: 800px;
  height: auto;
  margin-left: 0 !important;
}

.tile-column-span-7 {
  position: relative;
  float: left;
  width: auto;
  width: 960px;
  height: auto;
  margin-left: 0 !important;
}

.tile-column-span-8 {
  position: relative;
  float: left;
  width: auto;
  width: 1120px;
  height: auto;
  margin-left: 0 !important;
}

.panorama {
  position: relative;
  width: 100%;
  margin: 0 40px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.panorama.nohidden {
  width: auto;
  overflow: inherit;
}

.panorama .panorama-sections {
  position: relative;
  width: 10000px;
  height: auto;
  padding-bottom: 24px;
  overflow: hidden;
}

.panorama .panorama-sections h2 {
  margin-left: 5px;
  font-weight: 300;
  text-transform: lowercase;
}

.panorama .panorama-sections .panorama-section {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  margin-right: 75px;
}

.panorama .panorama-sections .panorama-section.tile-span-1 {
  width: 160px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-2 {
  width: 320px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-3 {
  width: 480px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-4 {
  width: 640px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-5 {
  width: 640px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-6 {
  width: 800px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-7 {
  width: 960px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-8 {
  width: 1120px;
  margin-left: 0;
}

.metro .tile {
  position: relative;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  background-color: #2C83EF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.metro .tile.selected {
  border: 3px solid #003484;
}

.metro .tile.selected:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  display: block;
  width: 0;
  height: 0;
  border-top: 40px solid #003484;
  border-left: 40px solid transparent;
  content: "";
}

.metro .tile.selected:before {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 1002;
  font-family: 'icomoon';
  color: #FFFFFF;
  content: "\e379";
}

.metro .tile .app-label,
.metro .tile .label {
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.metro .tile .app-count,
.metro .tile .count {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.metro .tile .image-wrapper span.icon {
  width: 80px;
  height: 80px;
  font-size: 80px;
  line-height: 80px;
}

.metro .tile .textover-wrapper {
  position: absolute;
  bottom: 0;
  height: 48px;
  padding: 2px 20px;
  background-color: inherit;
}

.metro .tile .textover-wrapper.transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.metro .tile .text-header {
  max-height: 36px;
  overflow: hidden;
  font-size: 34px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
}

.metro .tile .text-header3 {
  max-height: 110px;
  overflow: hidden;
  font-size: 34px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
}

.metro .tile .column3-text {
  display: block;
  float: left;
  width: 200px;
}

.metro .tile .column3-label {
  display: block;
  float: left;
  width: 50px;
}

.metro .tile .column2-text {
  display: block;
  float: left;
  width: 160px;
}

.metro .tile .column2-label {
  display: block;
  float: left;
  width: 90px;
}

.metro .tile .text2 {
  max-height: 44px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}

.metro .tile .text3 {
  max-height: 56px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}

.metro .tile .text4 {
  max-height: 72px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}

.metro .tile .column {
  display: block;
  float: left;
  width: 130px;
}

.metro .tile .text5 {
  max-height: 92px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}

.metro .tile .text {
  height: 18px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}

.metro .tile:hover {
  outline: 3px #225a68 solid;
}

.metro .tile.app .image-wrapper {
  display: block;
  width: 150px;
  height: 80px;
  padding: 8px 0;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}

.metro .tile.app .image-wrapper img {
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;
}

.metro .tile.square.text {
  width: 110px;
  height: 110px;
  padding: 20px;
}

.metro .tile.square.text .text-big {
  overflow: hidden;
  font-size: 76px;
  line-height: 76px;
  text-align: left;
}

.metro .tile.square.text.tilesquareblock .text {
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.metro .tile.square.image {
  width: 150px;
  height: 150px;
  padding: 0;
}

.metro .tile.square.image img {
  max-width: 150px;
  max-height: 150px;
}

.metro .tile.squarepeek {
  width: 150px;
  height: 312px;
}

.metro .tile.squarepeek img {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
}

.metro .tile.squarepeek .text-inner {
  width: 110px;
  height: 110px;
  padding: 20px;
}

.metro .tile.wide.app {
  width: 310px;
  height: 150px;
}

.metro .tile.wide.app .image-wrapper {
  width: 310px;
}

.metro .tile.wide.text {
  width: 270px;
  height: 110px;
  padding: 20px;
}

.metro .tile.wide.text .column-text-big {
  display: block;
  float: left;
  width: 80px;
  margin-left: 10px;
}

.metro .tile.wide.text .column-text-big .text-big {
  overflow: hidden;
  font-size: 74px;
  line-height: 60px;
  text-align: right;
}

.metro .tile.wide.text .column-text {
  display: block;
  float: left;
  width: 180px;
}

.metro .tile.wide.imagetext {
  width: 270px;
  height: 110px;
  padding: 20px;
}

.metro .tile.wide.imagetext .image-wrapper {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.metro .tile.wide.imagetext .image-wrapper img {
  max-width: 80px;
  max-height: 80px;
}

.metro .tile.wide.imagetext .column-text {
  display: block;
  float: left;
  width: 180px;
}

.metro .tile.wide.image {
  width: 310px;
  height: 150px;
}

.metro .tile.wide.image img {
  max-width: 310px;
}

.metro .tile.wide.image .mini-tiles {
  display: inline-block;
  float: left;
  width: 152px;
  height: 150px;
}

.metro .tile.wide.image .mini-tiles img {
  display: inline-block;
  float: left;
  max-width: 75px;
  max-height: 75px;
  border-left: 1px solid #2A2A2A;
}

.metro .tile.wide.imagetext.wideimage {
  width: 310px;
  height: 150px;
  padding: 0;
}

.metro .tile.wide.image.collection img {
  float: left;
  max-width: 158px;
  max-height: 150px;
}

.metro .tile.widepeek {
  width: 310px;
  height: 300px;
}

.metro .tile.widepeek .tile {
  margin: 0;
}

.metro .tile.widepeek .tile:hover {
  outline: 0;
}

.metro .tile.square .textover-wrapper,
.metro .tile.squarepeek .textover-wrapper {
  width: 130px;
}

.metro .tile.wide .textover-wrapper,
.metro .tile.widepeek .textover-wrapper {
  width: 270px;
}

#panorama-scroll-prev,
#panorama-scroll-next {
  position: absolute;
  top: 96px;
  left: 4px;
  z-index: 1061;
  display: inline-block;
  width: 42px;
  width: 32px;
  height: 42px;
  height: 32px;
  min-width: 0;
  min-height: 0;
  padding: 0;
  font-family: 'icomoon';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 40px !important;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background: none;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  outline: 0;
  background-clip: border-box;
  font-variant: normal;
}

#panorama-scroll-next {
  right: 4px;
  left: auto;
}

#panorama-scroll-prev:hover,
#panorama-scroll-next:hover {
  background-color: rgba(255, 255, 255, 0.13);
  border-color: rgba(255, 255, 255, 0.6);
}

#panorama-scroll-prev:before {
  font-size: 20px;
  line-height: 32px;
  vertical-align: top;
  content: "\e2a4";
}

#panorama-scroll-next:before {
  font-size: 20px;
  line-height: 32px;
  vertical-align: top;
  content: "\e2a0";
}

#panorama-scroll-prev-bkg,
#panorama-scroll-next-bkg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  width: 40px;
  height: 100%;
  background-color: transparent;
}

#panorama-scroll-next-bkg {
  right: 0;
  left: auto;
}

#panorama-scroll-prev-bkg:hover,
#panorama-scroll-next-bkg:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.metro-responsive-tiles .tile {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 150px;
  padding: 20px;
  margin: 5px;
  overflow: hidden;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  background-color: #2C83EF;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.metro-responsive-tiles .tile .image-wrapper {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
}

.metro-responsive-tiles .tile .image-wrapper span.icon {
  width: 80px;
  height: 80px;
  font-size: 80px;
  line-height: 80px;
}

.metro-responsive-tiles .tile .text-header {
  max-height: 36px;
  overflow: hidden;
  font-size: 34px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
}

.metro-responsive-tiles .tile .text-header2 {
  max-height: 80px;
  overflow: hidden;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}

.metro-responsive-tiles .tile .column-text {
  display: block;
  float: left;
  width: 180px;
  padding-left: 10px;
}

.metro-responsive-tiles .tile .column-text .text-header3 {
  max-height: 110px;
  overflow: hidden;
  font-size: 34px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
}

.metro-responsive-tiles .tile .tile-form {
  margin: 10px 0;
}

.metro .tile-listviewitem-container {
  overflow: auto;
}

.metro .tile-listviewitem {
  position: relative;
  display: block;
  height: 113px;
  padding: 7px 0;
  margin: 0 0 13px 0;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.metro .tile-listviewitem img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 7px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.metro .tile-listviewitem .detail {
  display: inline-block;
  height: 113px;
  margin-right: 7px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.metro .tile-listviewitem .detail .title {
  font-size: 16px;
  font-weight: 400;
}

.metro .tile-listviewitem .detail .subtitle {
  font-size: 10px;
  font-weight: 400;
}

.metro .tile-listviewitem.selected {
  color: #FFF;
  background-color: #4617b4;
}

.metro .tile-listviewitem:hover {
  background-color: #b3b3b3;
}

.metro .tile-listviewitem.selected:hover {
  background-color: #4617b4;
}

#charms {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 320px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #004D60;
}

#charms a.win-command {
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-clip: border-box;
}

#charms .charms-section {
  margin: 0 40px 40px 40px;
}

#charms a:hover {
  background-color: #216475;
}

#charms .charms-header {
  position: relative;
  padding: 40px 0 30px 0;
}

#charms .charms-header a#pin-charms {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  margin-right: -24px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
}

#charms .charms-header a#pin-charms.active {
  color: #000;
  background-color: #FFF;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

#charms .charms-header h2 {
  display: inline-block;
  margin-left: 10px;
  color: #FFF;
}

#charms hr {
  border: 1px solid #357281;
}

#charms h2,
#charms h3,
#charms h4,
#charms p,
#charms a,
#charms label {
  color: #19BFC9;
}

#charms .charms-header a.win-backbutton {
  width: 32px;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  vertical-align: top;
}

#charms-body {
  min-width: 350px;
}

#charms.slide {
    right: -320px;
    transition: all 0.36s ease;
}

#charms.slide.in {
  right: 0;
}