#chatbox{
    background-color: #2E8B57;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
}

#chatbox::-webkit-scrollbar {
    width: 12px;
}

#chatbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#chatbox::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(105,105,105,0.9); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.chatbox_names{
    position: absolute;
    right: 0px;
    bottom:0px;
    width:250px;
}

.chat_body{
    background:white;
    height: 500px;
    padding:5px 0px;
    overflow-y: auto;
}

.chat_head{
    background:#f39c12;
    border-radius:30px 0px 0px 0px;
    color:white;
    padding:15px;
    font-weight:bold;
    cursor:pointer;
}

.msg_box{
    position:absolute;
    bottom:0px;
    width:300px;
    right:290px;
    background:white;
    border-radius:5px 5px 0px 0px;
}

.msg_head{
    border-radius:5px 5px 0px 0px;
    background:#3498db;
    color:white;
    padding:15px;
    font-weight:bold;
    cursor:pointer;
}

.msg_body{
    bottom: 50px;
    background:white;
    height:300px;
    font-size:12px;
    padding:15px;
    overflow-y:auto;
    word-wrap: break-word;
}

.inputbot{
    position:absolute;
    bottom:0px;
    height: 50px;
    width:300px;
    left: 0px;
    background: #3498db;
}

#msg_send{
    position: absolute; 
    right: 5%; 
    top: 30%; 
    color: #ffffff;
}

#msg_input{
    position: absolute; 
    left: 5%;
}

#msg_send:hover{
    color: #000000;
}

.close{
    float:right;
    cursor:pointer;
}

.user{
    position:relative;
    padding:10px 30px;
}

.user:hover{
    background:#3498db;
    cursor:pointer;

}

.user:before{
    content:'';
    position:absolute;
    background:#2ecc71;
    height:10px;
    width:10px;
    left:10px;
    top:15px;
    border-radius:6px;
}

.you {
    color: red;
}

.robot {
    color: blue;
}