<link rel="stylesheet" type="text/css" href="css/websites/mail.css">

<div class="mail-box">
    <aside class="sm-side">
        <div class="user-head">
            <h3><%= user.local.email %></h3>
            <h4><%= user.local.email %></h4>
        </div>
        <ul class="inbox-nav">
            <li><a id="mail-home"><i class="fa fa-home"></i> Home</a></li>
            <li><a id="mail-contacts"><i class="fa fa-phone"></i> Contacts</a></li>
            <li><a id="mail-compose"><i class="fa fa-plus"></i>Compose</a></li>
            <li><a id="mail-sent"><i class="fa fa-envelope"></i> Sent Mail</a></li>
            <li><a id="mail-unread"><i class="fa fa-exclamation"></i> Unread</a></li>
            <li><a id="mail-inbox"><i class="fa fa-inbox"></i> Inbox</a></li>
            <li><a id="mail-spam"><i class="fa fa-flag"></i> Spam</a></li>
            <hr>
        </ul>
    </aside>
    <aside class="lg-side">
        <div class="inbox-head">
            <h1 id="mail-landingt">Mail</h1>
            <h1 id="mail-homet" style="display:none;">: Home</h1>
            <h1 id="mail-contactst" style="display:none;">: Contacts</h1>
            <h1 id="mail-composet" style="display:none;">: Compose</h1>
            <h1 id="mail-sentt" style="display:none;">: Sent Mail</h1>
            <h1 id="mail-unreadt" style="display:none;">: Unread</h1>
            <h1 id="mail-inboxt" style="display:none;">: Inbox</h1>
            <h1 id="mail-spamt" style="display:none;">: Spam</h1>
        </div>
        <div id="mail-landingc" class="inbox-body">
            <h4>Welcome to the Mailbox</h4>
            <hr>
            <p>Instruction set...</p>
        </div>
        
        <div id="mail-homec" class="inbox-body" style="display:none;">
            <p>Instruction set...</p>
        </div>
        
        <div id="mail-contactsc" class="inbox-body" style="display:none;">
            <h4>Contacts List</h4>
            <hr>
            <p>Email list...</p>
        </div>
        
        <div id="mail-composec" class="inbox-body" style="display:none;">
            <div>
                <label for="compose_email">Email:</label>
                <textarea class="mail_input" id="compose_email" rows="1"></textarea>
            </div>
            <div>
                <label for="compose_subject">Subject</label>
                <textarea class="mail_input" id="compose_subject" rows="1"></textarea>
            </div>
            <div>
                <label for="compose_message">Messsage</label>
                <textarea class="mail_input" rows="8" id="compose_message"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-default mail_button">Submit</button>
            </div>
        </div>
        
        <div id="mail-sentc" class="inbox-body" style="display:none;">
            <table class="table table-inbox table-hover">
                <tr class="mail_message_heading">
                    <th>To</th>
                    <th>Subject</th>
                    <th>Time</th>
                </tr>
            </table>
        </div>
        
        <div id="mail-unreadc" class="inbox-body" style="display:none;">
            <table class="table table-inbox table-hover">
                <tbody>
                     <tr class="mail_message_heading">
                        <th>From</th>
                        <th>Subject</th>
                        <th>Time</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="mail-inboxc" class="inbox-body" style="display:none;">
            <table class="table table-inbox table-hover">
                <tbody>
                    <tr class="mail_message_heading">
                        <th>From</th>
                        <th>Subject</th>
                        <th>Time</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="mail-spamc" class="inbox-body" style="display:none;">
            <table class="table table-inbox table-hover">
                <tbody>
                    <tr class="mail_message_heading">
                        <th>From</th>
                        <th>Subject</th>
                        <th>Time</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </aside>
</div>

<script type="text/javascript" src="js/websites/mail.js"></script>