#musicfiles{
    background: #ffa500;
    position: absolute;
    height: 99%;
    width: 100%;
}

#musicfiles_header{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0%;
    height: 15%;
    background: #3CB371;
    padding: 2%;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

#musicfiles_main{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 15%;
    height: 84%;
    background: #ffa500;
    padding: 1%;
}

#musicfiles_info{
    position: absolute;
    left: 40%;
    top: 15%;
    font-size: 20px;
}

#musicfiles_download{
    position: absolute;
    left: 50%;
    top: 40%;
}

#musicfiles_main a {
    color: #3CB371;
    font-weight: bold;
    font-size: 20px;
}

#musicfiles_ad{
    position: absolute;
    left: 50%;
    top: 70%;
}